Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

Notes added by 'git notes add'
  ee259882bc36137e5b075e3de34e68e212fc998e
Due: none

chore(project): version up 5.21.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
  yarn.lock
Due: none

fix(evo-control-error): hide empty error messages
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.html
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.scss
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.ts
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.module.ts
Due: yarn lint:ts, yarn lint:styles

test(evo-control-error): add component test + fix related tests
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
Due: yarn lint:ts

docs(evo-control-error): add case with showCount property set
  src/stories/components/evo-control-error.stories.ts
Due: yarn lint:ts

test(evo-control-error): add test
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.spec.ts
Due: yarn lint:ts

perf(input): reworked
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/ng-package.prod.json
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts

feat(input): +composition events from ng-core
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts

chore(package): add ngcc postinstall + update yarn.lock
  package.json
  yarn.lock
Due: none

Notes added by 'git notes add'
  93983d7ceb2a72420db95bd888e1261ea015b2f3
Due: none

chore(project): version up 5.21.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-chip): fix label relative position
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  1845e42772c82a82917377ef60a316e8b855c0f1
Due: none

chore(project): version up 5.21.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

test(input): few specs added
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  src/app/app.component.html
  src/app/app.component.ts
Due: yarn lint:ts

test(input): -fdescribe
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
Due: yarn lint:ts

fix(sidebar): afterall fix
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
Due: yarn lint:ts

test(input): +few specs
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

fix(input): -fdescribe
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
Due: yarn lint:ts

feat(evo-datepicker): update flatpickr to 4.6.8
  package.json
  projects/evo-ui-kit/package.json
Due: none

fix(evo-datepicker): set clickOpens default to true
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  97deea4b862d3d50cb6f6e1f5da1bbf2cadffe3c
Due: none

chore(project): version up 5.22.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(flatpickr): update flatpickr to 4.6.9
  package.json
  projects/evo-ui-kit/package.json
  yarn.lock
Due: none

fix(evo-datepicker): set clickOpens to false, fix empty period bug
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

chore(project): version up 5.22.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  58/aafdd17b48cbdf2d2969332103988767a24011
Due: none

chore(project): version up 5.23.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(dependencies): extend supported angular versions
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  56/f358fff2cadad5dc3792bb13e98631cb540ffc
Due: none

chore(project): version up 5.23.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(app): fix app.component dependencies
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: yarn lint:ts

fix(package): add imask to main dependencies
  package.json
  projects/evo-ui-kit/package.json
  yarn.lock
Due: none

feat(evo-radio): update radio styles
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.html
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.scss
Due: yarn lint:styles

docs(evo-radio): fix story dependencies
  src/stories/components/evo-radio.stories.ts
Due: yarn lint:ts

feat(evo-radio): update radio styles
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.scss
Due: yarn lint:styles

chore(evo-radio): update app component
  src/app/app.component.html
  src/app/app.module.ts
Due: yarn lint:ts

fix(package): fix imask versions
  package.json
  projects/evo-ui-kit/package.json
Due: none
