Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

feat(evo-tabs): change structure of tab state object
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

fix(evo-tabs): fix stories
  src/stories/components/evo-tabs.stories.ts
Due: yarn lint:ts

refactor(evo-tabs): code style
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

fix(evo-tabs): fix tab params structure
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

feat(evo-banner): fix adaptive styles
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
Due: yarn lint:ts, yarn lint:styles

style(evo-banner): codestyle
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.module.ts
Due: yarn lint:ts

feat(evo-datepicker): added time reset on the datepicker open event
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts, yarn lint:styles

refactor(evo-datepicker): replaced colors on the variables
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: yarn lint:styles

refactor(evo-datepicker): removed font-weight
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: yarn lint:styles

refactor(evo-datepicker): disabled colors
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: yarn lint:styles

chore(release): 3.11.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

refactor(evo-tabs): tabs refactoring
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-state.collection.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.module.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
  src/stories/components/evo-tabs.stories.ts
Due: yarn lint:ts

feat(autocomplete): +evo-errors
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-datepicker): fix import
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.module.ts
Due: yarn lint:ts

chore(release): 3.11.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-upload): add reactive usage, add styles, stories
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  src/stories/components/evo-upload.stories.ts
Due: yarn lint:ts, yarn lint:styles

chore(codeowners): change global pattern
  .github/CODEOWNERS
Due: none

chore(release): 3.12.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

refactor(evo-tabs): change logic of tab deactivation
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-state.collection.ts
Due: yarn lint:ts

chore: update codeowners
  .github/CODEOWNERS
Due: none

fix(evo-upload): fix control errors, add hideClearButton property
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-tabs): add new exports to public-api
  projects/evo-ui-kit/src/lib/components/evo-tabs/public-api.ts
Due: yarn lint:ts

docs(evo-upload-stories): add stories without clear button
  src/stories/components/evo-upload.stories.ts
Due: yarn lint:ts

chore(release): 3.12.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-tabs): init tests
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
Due: yarn lint:ts

fix(evo-datepicker): time update after open
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  src/stories/components/evo-datepicker.stories.ts
Due: yarn lint:ts

feat(evo-tabs): add check of the same name attribute for tabs
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
Due: yarn lint:ts

fix(textarea): line break
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
Due: yarn lint:styles

fix(evo-tab-content): change error message for wrong tabsRef
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
Due: yarn lint:ts

test(evo-tabs): evo-tabs component tests
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
Due: yarn lint:ts

chore(release): 3.13.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(release): 3.13.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-banner): add adaptive styles inheritance
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
Due: yarn lint:ts

feat(evo-banner): add desktop-s style
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
Due: yarn lint:styles

chore(release): 3.14.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-tabs.service): fix check of duplicating tab names
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

chore(ci): added sonarqube scanning
  .github/workflows/push_master.yml
  .sonarcloud.properties
  angular.json
  package.json
Due: none

chore(ci): added sonarqube scanning
  .github/workflows/push_master.yml
  angular.json
  package.json
Due: none

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
