Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  2d/c924bd66b1dbafa60004e9ef060580bf57de9f
Due: none

chore(project): version up 5.29.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(icons): adding info icons
  projects/evo-ui-kit/src/lib/icons-src/Info/Arrow-Back_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Arrow-Forward_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Down-Circle Add_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Down-Circle_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Left-Circle_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Megaphone_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Right-Down_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Sale_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Up-Circle Add_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Up-Circle_24px.svg
Due: none

feat(gulp): add color-icons.ts generator for storybook
  scripts/gulp-config.js
  scripts/gulp-icons-build.js
  src/generated/color-icons.ts
  src/stories/components/evo-icon.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  b2/067d8e5d5f32637da27c1f4f9278b63ce8b7ea
Due: none

chore(project): version up 5.30.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

build(gulp): copy color icons to storybook dist
  gulpfile.js
Due: none

feat(icons): add side menu icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Acquiring.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Bill Correction.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Bill.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Combined.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/EDO.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Key.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/My Apps.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/QR.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Research.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Reviews.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Rouble Outlined.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Sber.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Shop 2.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Stats.svg
Due: none

fix(icons): fix research icon double
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Research-nav.svg
Due: none

Notes added by 'git notes add'
  06/103f498144c5c0b6e0bc76e3b723424f42e1bc
Due: none

chore(project): bump version to 5.31.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(portal): base portal & sidebar integration
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal-host.class.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.module.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/index.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

feat(portal): wip methods
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
Due: yarn lint:ts

fix(evo-accordion): remove BrowserAnimationsModule
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.module.ts
Due: yarn lint:ts

docs(evo-accordion): add BrowserAnimationsModule to story
  src/stories/components/evo-accordion.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  3d/8bef5928fd9a09fac7bbb48543fb6d8f88c944
Due: none

chore(project): bump version to 5.31.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(color-icons): add Link.svg icon
  projects/evo-ui-kit/src/svg/color-icons/Link.svg
Due: none

fix(color-icons): add Link.svg icon
  src/generated/color-icons.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  21/4e1e6a8e097b6d127cb592d30b081102c52172
Due: none

chore(project): bump version to 5.31.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-icon-button): fix label font size
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  9f/a95031a96823f17d68fe23cfe79e682ffe6f3c
Due: none

chore(project): bump version to 5.31.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(icons): add share icon
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Share_24px.svg
Due: none

Notes added by 'git notes add'
  1e/c725987a674c6a069532181df93117e730dcd7
Due: none

chore(project): bump version to 5.32.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-popover): add strategy input
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
  src/app/app.component.html
Due: yarn lint:ts

Notes added by 'git notes add'
  15/b026069a1c3ce916331a19452042d97cfe386b
Due: none

chore(project): bump version to 5.33.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(sidebar): portal & sidebar interaction
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.module.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/interfaces.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/tokens.ts
Due: yarn lint:ts

feat(evo-modal): add acceptButtonColor param + fix buttons order
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: yarn lint:ts, yarn lint:styles

chore(app): remove unused
  src/app/app.component.html
Due: none

Notes added by 'git notes add'
  dc/5e2b3b04268dbac0d0ccffc9d3a119208dd9b8
Due: none

chore(project): bump version to 5.34.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(sidebar): providers & code style
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/interfaces.ts
Due: yarn lint:ts

fix(input): onpush strategy support
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  60/0a3c0966fd0663df44ebd6015c1b86a2ef6aa1
Due: none

chore(project): bump version to 5.34.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-paginator): add visiblePagesLimit option
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.ts
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
