Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

refactor(evo-toggle): change style
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
Due: yarn lint:styles

refactor(evo-toggle): change component in storybook
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
  src/stories/components/evo-toggle.stories.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-modal): pass payload after async accept
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  86/a0022dab0f0c1ff5c8186c816c9fe3c54924af
Due: none

chore(project): bump version to 5.51.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

ci(notify): update release notification
  .github/scripts/notify-telegram.sh
  .github/workflows/release.yml
Due: none

fix(evo-badge): remove unnecessary, correct height and font-size
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: yarn lint:styles

refactor(evo-badge): clear code
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: yarn lint:styles

fix(evo-badge): set correct padding
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  21/e9b5babaa4ed015a5ca0540264e4735519b08b
Due: none

chore(project): bump version to 5.52.0
  .github/scripts/notify-telegram.sh
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-toast): add on push strategy support
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.ts
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  78/51c9bd7b2f8b57674c5f6af6c01dfbe91cc557
Due: none

chore(project): bump version to 5.53.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(package): set node version
  package.json
Due: none

chore(ng): update to ng@10
  package.json
  projects/evo-ui-kit/package.json
  src/.browserslistrc
  src/polyfills.ts
  tslint.json
  yarn.lock
Due: yarn lint:ts

feat(evo-input): add mask validation
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts

feat(evo-chip): close button for checkbox
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  3b/23b1e38c8092784de9d8634a306cfe72e1174c
Due: none

chore(project): bump version to 5.54.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-badge): add color, width and multiline attrs
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.html
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  src/stories/components/evo-badge.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-badge): change display, get inline-height back
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  30/9e5e8218af21e457ec674ed7b588cc0ddc27d9
Due: none

chore(project): bump version to 5.55.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(public_api): fix public api exports
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

fix(evo-badge): fix module import
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.module.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  9d/bb66b371b7933cb94ae6a8293d3ed5a6c77bc7
Due: none

chore(project): bump version to 5.55.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-badge): change small size padding, remove story emoji
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  src/stories/components/evo-badge.stories.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  64/cfdc0398e2a01887f6dfe0d48574903cff1676
Due: none

chore(project): bump version to 5.55.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-badge): add specific typings, change enums to type
  projects/evo-ui-kit/src/lib/common/enums/evo-color.ts
  projects/evo-ui-kit/src/lib/common/enums/evo-size.ts
  projects/evo-ui-kit/src/lib/common/enums/index.ts
  projects/evo-ui-kit/src/lib/common/types/EvoColor.ts
  projects/evo-ui-kit/src/lib/common/types/EvoSize.ts
  projects/evo-ui-kit/src/lib/common/types/evo-color-keys.ts
  projects/evo-ui-kit/src/lib/common/types/evo-size-keys.ts
  projects/evo-ui-kit/src/lib/common/types/index.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/index.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/EvoBadgeColor.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/EvoBadgesSize.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/index.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-badge.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-color): remove mistake
  projects/evo-ui-kit/src/lib/common/types/EvoColor.ts
Due: yarn lint:ts

fix(evo-color): add primary color
  projects/evo-ui-kit/src/lib/common/types/EvoColor.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  cd/10d3e3d19d21ec2df86121ba8e482733b7f4c9
Due: none

chore(project): bump version to 5.55.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-badge): rename EvoBadgesSize to EvoBadgeSize
  projects/evo-ui-kit/src/lib/common/types/evo-color.ts
  projects/evo-ui-kit/src/lib/common/types/evo-size.ts
  projects/evo-ui-kit/src/lib/common/types/index.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/EvoBadgesSize.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-color.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-size.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/index.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  0b/503899f8c82d578c9cf94480446315f7e0dac5
Due: none

chore(project): bump version to 5.55.4
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
