Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

feat(evo-paginator): update functionality
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.html
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.scss
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.spec.ts
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.ts
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.module.ts
Due: yarn lint:ts, yarn lint:styles

refactor(icons): removed icons
  projects/evo-ui-kit/src/assets/icons/chevron-left.svg
  projects/evo-ui-kit/src/assets/icons/close.svg
Due: none

chore(release): 2.8.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

chore(evo-ui-kit): version up
  projects/evo-ui-kit/package.json
Due: none

docs(evo-paginator): fix paginator docs
  src/stories/components/evo-paginator.stories.ts
Due: yarn lint:ts

Revert "feat(evo-datepicker): added description and changed sidebar icons"
  projects/evo-ui-kit/src/assets/icons/close.svg
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
  projects/evo-ui-kit/src/lib/evo-ui-kit.module.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-ui-kit.module): fix icons imports
  gulpfile.js
  projects/evo-ui-kit/src/lib/evo-ui-kit.module.ts
  projects/evo-ui-kit/tsconfig.lib.json
  projects/evo-ui-kit/tsconfig.spec.json
Due: yarn lint:ts

chore(release): 2.9.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

chore(evo-ui-kit): update test ci
  package.json
Due: none

fix(evo-ui-kit.module): fix icons imports (2)
  projects/evo-ui-kit/tsconfig.lib.json
  projects/evo-ui-kit/tsconfig.spec.json
  tsconfig.json
Due: none

docs(stories): fix stories
  src/stories/components/evo-modal.stories.ts
  src/stories/components/evo-sidebar.stories.ts
  src/stories/components/evo-toast.stories.ts
Due: yarn lint:ts

chore(evo-ui-kit): add build to test:ci
  package.json
Due: none

fix(evo-table): storybook bug
  package.json
  src/stories/components/evo-table.stories.ts
  yarn.lock
Due: yarn lint:ts

chore(evo-ui-kit): add build to test:ci (2)
  package.json
Due: none

fix(select): +comma
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
Due: yarn lint:ts

chore(release): 2.9.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

docs(evo-paginator): fix comment
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.ts
Due: yarn lint:ts

docs(evo-paginator): fix docs
  src/stories/components/evo-paginator.stories.ts
Due: yarn lint:ts

fix(evo-banner): decrease full-width banner font size
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
Due: yarn lint:styles

docs(evo-banner): show all banner types in stories
  src/stories/components/evo-banner.stories.ts
Due: yarn lint:ts

fix(evo-banner): decrease full-width banner content width
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
Due: yarn lint:styles

chore(release): 3.0.5 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(evo-sidebar): fixed back icon shape
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
Due: none

chore(release): 2.9.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

feat(evo-banner): listen window resize + adaptive based on host width
  projects/evo-ui-kit/src/lib/common/constants.ts
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.html
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-datepicker): added maxRangeDays option
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  src/stories/components/evo-datepicker.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-datepicker): corrected styles
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts, yarn lint:styles

chore(release): 2.10.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(evo-banner): fix small banner styles
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
Due: yarn lint:styles

fix(evo-banner): fix styles, events
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.scss
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
  src/stories/components/evo-banner.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-datepicker): added resetting of the constraints
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

chore(release): 2.10.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

refactor(evo-paginator): fix codestyle, add tests
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.spec.ts
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.ts
Due: yarn lint:ts

refactor(evo-paginator): set private instead of protected
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.ts
Due: yarn lint:ts
