Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  1bc7576aa82db1a89225d22db1288582c2e60a5a
Due: none

feat(package): updated ng-select version
  package.json
Due: none

chore(project): yarn.lock
  yarn.lock
Due: none

feat(evo-autocomplete): update to ng-select@3
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts

feat(evo-autocomplete): update peer dependencies
  projects/evo-ui-kit/package.json
Due: none

feat(storybook): update to @next version
  package.json
  yarn.lock
Due: none

docs(evo-autocomplete): update storybook
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  41b0c4ec65665d8809c1008b9f1a07c4aae3653a
Due: none

chore(project): version up 5.3.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  4ef7fc8666c5b44136c466f1da4bba4b1f3461d2
Due: none

Notes added by 'git notes add'
  e74b84d97a7e7b2352114a055cc3819715dee90d
Due: none

Notes added by 'git notes add'
  b6b152ab46f693ed190e30a5f3d57b585b95fe8f
Due: none

Notes added by 'git notes add'
  b618c9658b6ae457edc0889862a1f448ab4f819a
Due: none

Notes added by 'git notes add'
  5c6cae9a06a97ee20434b73602411e5f766b1a14
Due: none

Notes added by 'git notes add'
  46ab98cd9da0d987ba6ce6c5f28c9773049a95df
Due: none

Notes added by 'git notes add'
  169c6aa013355781e06d38e35992cc3ff635b190
Due: none

Notes added by 'git notes add'
  be501c310a5b8c1028f68b8df287520fdb8a6cee
Due: none

Notes added by 'git notes add'
  c03f47fdd273e1f69e5b4cc6d398ae4690c1ab29
Due: none

Notes added by 'git notes add'
  703fc814320416300e4cd1ab1010148a0890d996
Due: none

Notes added by 'git notes add'
  a73edb5f194e26a224a094fea7ef4e47b5221e7c
Due: none

Notes added by 'git notes add'
  83695314380f7c0e6e6efa01efb025d5552956c7
Due: none

Notes added by 'git notes add'
  b6ec6e2828f4ed213e7393cada976bc8e4d0329e
Due: none

chore(storybook): enable evy
  .storybook/tsconfig.json
Due: none

fix(project): add basic peer dependencies paths
  projects/evo-ui-kit/tsconfig.lib.json
Due: none

chore(angular): add serve local kit option
  angular.json
Due: none

feat(evo-base-class): refactor base class with NgControl injector
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/components/evo-radio-group/evo-radio-group.component.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  projects/evo-ui-kit/src/lib/evo-ui-kit.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  feb44aa6bfd34d801da77da3087db4eb8c76fb69
Due: none

chore(project): version up 5.4.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-base-control): refactor with control getter
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  65b625a45e396e5fb858212011a88a49adfff5ba
Due: none

chore(project): version up 5.4.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-autocomplete): stylelint fix
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: yarn lint:styles

feat(icon-src): added icons
  projects/evo-ui-kit/src/lib/icons-src/System/Comparsion_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Help_Outlined_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/InsuranceLost_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Insurance_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Scanner_24px.svg
Due: none

fix(evo-checkbox): stylelint fix
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles

fix(evo-datepicker): stylelint fix
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: yarn lint:styles

feat(evo-modal): fix evo-modal styles, buttons width, add closeTarget
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  da6e19bb116ed8a7470df429a94b53d64fa46d5f
Due: none

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
