Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

fix(sonar): coverage reports
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
  package.json
Due: none

refactor(evo-datepicker): remove imports
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.spec.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  55b8b89998cffdac1b160dea1bf620c677180c2a
Due: none

Notes added by 'git notes add'
  8afe980e50532e49e787c04c3420df2d447c8da7
Due: none

Notes added by 'git notes add'
  b8ac35714fadb15432c6a6948928ebe68eaef2a5
Due: none

Notes added by 'git notes add'
  c00e82af833c5412011ed506c9bd4d3b72c1c853
Due: none

chore(project): version up 5.16.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-chip): set radio to default type
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  src/stories/components/evo-chip.stories.ts
Due: yarn lint:ts

feat(evo-chip): eject styles to separated scss
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: yarn lint:styles

test(evo-input): add tests
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  src/app/app.component.html
Due: yarn lint:ts

test(evo-chip): evo-chip basic tests
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  cd607fd30e5cccbd32953f5bc80316a51f56adbe
Due: none

chore(project): version up 5.17.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(upload): validate files with mime types
  package.json
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/ng-package.prod.json
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  projects/evo-ui-kit/tsconfig.lib.json
  src/stories/components/evo-upload.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  c1be35eae03c1f2afbbf3dd2fb9411fedc538051
Due: none

chore(project): version up 5.17.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-sidebar): update sidebar design
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
Due: yarn lint:styles

fix(icons-build): skip dot-files
  icons-build.js
Due: none

Notes added by 'git notes add'
  b626495b466db332b17551494086c92345aca84b
Due: none

chore(project): version up 5.18.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(popover): update position before open
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

test(popover): +cd calls
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  520aaab04dddd2f8cf2afa47d8f10f96d0387778
Due: none

chore(project): version up 5.18.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-datepicker): increased tap zone
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: yarn lint:styles

fix(evo-datepicker): fixed width for some variations of picker
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: yarn lint:styles

ci(releaserc): remove release branch versions/v4
  projects/evo-ui-kit/.releaserc.json
Due: none

Notes added by 'git notes add'
  c372cab1ae7c9da3fb26b1b6ca18b1f0f975d53d
Due: none

chore(project): version up 5.19.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-sidebar): close button size fix, header adaptive fix
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  e969422acb67ad249d5030f5044b28fe0e14b139
Due: none

chore(project): version up 5.19.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-tab): set font-weight
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  9bf1396adec62011dec892a41e585f4edb0f2db8
Due: none

chore(project): version up 5.19.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-checkbox): fix empty label pseudo element
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles

fix(evo-checkbox): add default line-height and font-size
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles

fix(evo-checkbox): fix empty label padding
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles
