Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

test(evo-tabs): correct component tests
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
Due: yarn lint:ts

test(evo-tabs): init service tests
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.spec.ts
Due: yarn lint:ts

chore(ci): added sonarqube scanning
  .github/workflows/push_master.yml
  angular.json
  package.json
  projects/evo-ui-kit/karma.conf.js
Due: none

test(evo-tabs): add service tests
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.spec.ts
Due: yarn lint:ts

test(evo-tabs): update component tests
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
Due: yarn lint:ts

test(evo-tabs): update service tests
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.spec.ts
Due: yarn lint:ts

test(evo-tabs): update service tests code style
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.spec.ts
Due: yarn lint:ts

chore(release): 3.15.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
  yarn.lock
Due: none

feat(evo-segmented-bar-button): add disabled state
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.ts
Due: yarn lint:ts, yarn lint:styles

test(evo-segmented-bar): add test to check disabled state
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.spec.ts
Due: yarn lint:ts

test(evo-segmented-bar): update test to check disabled state
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.spec.ts
Due: yarn lint:ts

feat(evo-segmented-bar): add story
  src/stories/components/evo-segmented-bar.stories.ts
Due: yarn lint:ts

feat(evo-segmented-bar-button): fix styles
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
Due: yarn lint:styles

feat(icons-src): added icons
  projects/evo-ui-kit/src/lib/.DS_Store
  projects/evo-ui-kit/src/lib/icons-src/Navigation/More_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Subdirectory_Right_24px.svg
Due: none

feat(icons-src): added icons
  projects/evo-ui-kit/src/lib/icons-src/Footer/Facebook_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/Instagram_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/OK_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/Telegram_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/Twitter_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/VK_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/Youtube_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Subdirectory_Left_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Unfold_Less_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Unfold_More_24px.svg
Due: none

feat(footer): removed social icons
  projects/evo-ui-kit/src/lib/icons-src/Footer/Facebook_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/Instagram_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/OK_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/Telegram_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/Twitter_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/VK_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Footer/Youtube_36px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Subdirectory_Left_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Unfold_Less_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Unfold_More_24px.svg
Due: none

feat(icons-src): added icons
  projects/evo-ui-kit/src/lib/icons-src/System/Alert_Triangle_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Chart_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Linked_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/New_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Terminal_24px.svg
Due: none

chore(release): 3.16.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-datepicker): null instance ref after destroy
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

fix(evo-datepicker): check if dateRange exists
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

fix(evo-datepicker): fixed disabled state
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

chore(release): 3.16.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-select): fix disabled state
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.scss
Due: yarn lint:styles

fix(evo-input): fixed disabled state
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: yarn lint:styles

refactor(evo-button): eject button styles
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
  projects/evo-ui-kit/src/lib/styles/keyframes.scss
Due: yarn lint:styles

feat(evo-popover): add delay parameter
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

refactor(evo-popover): refactor, codestyle
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

Remove deployment scripts
  .dockerignore
  Dockerfile
  Jenkinsfile
  helm/evo-ui-kit/.helmignore
  helm/evo-ui-kit/Chart.yaml
  helm/evo-ui-kit/templates/deployment.yaml
  helm/evo-ui-kit/templates/ingess.yaml
  helm/evo-ui-kit/templates/service.yaml
  helm/evo-ui-kit/values.yaml
  helm/values/prod.yaml
  helm/values/test.yaml
Due: none

feat(evo-alert): add new color scheme
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.scss
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.ts
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:ts, yarn lint:styles

feat(evo-sidebar): added middle size
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  src/stories/components/evo-sidebar.stories.ts
Due: yarn lint:ts, yarn lint:styles

chore(release): 3.17.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-sidebar): changed size of middle sidebar
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
Due: yarn lint:styles

chore(release): 3.19.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(select): upd on options changes
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
Due: yarn lint:ts

fix(select): replace MO with ngAfterContentChecked
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
