Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

fix(variables): correct color name
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:styles

feature(evo-button): added evo colors support, new themes, new loader #157
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
Due: yarn lint:ts, yarn lint:styles

feat(evo-button): introduce themes
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/index.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-color.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-shape.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-size.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-theme.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/index.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-button): add spinner
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-button): add sizes (wip)
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-button): app component
  src/app/app.component.html
  src/app/app.module.ts
Due: yarn lint:ts

fix(evo-collection): fix collection imports
  projects/evo-ui-kit/src/lib/common/collection/evo-collection-fabric.ts
  projects/evo-ui-kit/src/lib/common/collection/evo-collection.ts
  projects/evo-ui-kit/src/lib/common/collection/index.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  06/a170551751898a0378892062caa53d6d9b7e76
Due: none

chore(project): bump version to 5.55.5
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(package): fix peer dependencies
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  58/83bf4d6e1f5e68e17fe6da7b7d1a6c049a257d
Due: none

chore(project): bump version to 5.55.6
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-button): size setter added, colors corrected
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
  src/app/app.component.html
  src/app/app.component.scss
Due: yarn lint:ts, yarn lint:styles

fix(scss): add $shadow-soft
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:styles

feat(evo-accordion): restyled title
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.module.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-loader): add evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.html
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.module.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/public-api.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-loader): add evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
Due: yarn lint:styles

feat(evo-button): add new button themes, colors, shapes
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-color.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-loader): fix evo-circular-loader size
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
Due: yarn lint:styles

docs(evo-button): update evo-button stories
  src/stories/components/evo-button.stories.ts
Due: yarn lint:ts

feat(evo-accordion): add animation
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.ts
Due: yarn lint:ts, yarn lint:styles

test(evo-accordion): update tests
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
Due: yarn lint:ts

ci(pull_request): use node 12
  .github/workflows/pull_request.yml
Due: none

ci(pull_master): use node 12
  .github/workflows/push_master.yml
Due: none

Notes added by 'git notes add'
  11/695b22f0505e4bb12c271741ba35189aa65db2
Due: none

chore(project): bump version to 5.56.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

test(evo-button): update tests
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.spec.ts
Due: yarn lint:ts

test(evo-modal): update tests
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
Due: yarn lint:ts

fix(evo-input): prevent search icon shrink
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: yarn lint:styles

fix(evo-button): remove darkblue color
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-circular-loader): set default size to 24px
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
Due: yarn lint:styles

docs(evo-loader): update loaders docs
  src/stories/components/evo-loader.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  57/e2d112da4a28a4b2f8436a01bbbbfba33a3646
Due: none

chore(project): bump version to 5.56.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(icons): add system icons
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Fiscal.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Image.svg
Due: none

Notes added by 'git notes add'
  21/40c62a5e0047b6c046f292c85368b1e3156aff
Due: none

chore(project): bump version to 5.56.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none
