Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

chore(project): version up 5.5.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-modal): fix empty icon
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  4078b79883b9bae81502b132e16dfa870e9a201f
Due: none

chore(project): version up 5.5.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-modal): fix buttons number style
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  2e45680228568f0adfd659221229eae4879e0d74
Due: none

feat(icon-src): added icons
  projects/evo-ui-kit/src/lib/icons-src/System/Comparsion_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Help_Outlined_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/InsuranceLost_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Insurance_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Scanner_24px.svg
Due: none

chore(project): version up 5.5.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  8c4d4917d8f80ea62e33fdbec35995a5fa5e3916
Due: none

chore(project): version up 5.6.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(popperjs): freeze lib version
  package.json
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  d57b1f715b42189285aa1eba3c2b19e882c91f62
Due: none

chore(evo-ui-kit): version up
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(deps): fix @popperjs/core dependency version
  package.json
  projects/evo-ui-kit/package.json
Due: none

chore(releaserc): allow releases from version-branches
  projects/evo-ui-kit/.releaserc.json
Due: none

feat(evo-datepicker): added empty text
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  src/stories/components/evo-datepicker.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(package): fix quality gates
  package.json
Due: none

fix(build): update docker karma version
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
Due: none

fix(package): move angular-imask to deps
  package.json
Due: none

fix(package): move jasmine typings to deps
  package.json
Due: none

fix(package): move spectator to deps
  package.json
Due: none

fix(package): move node typings to deps
  package.json
Due: none

Notes added by 'git notes add'
  fc17e0f5fb9c28bc9afc085b87809ebb3b67ebda
Due: none

docs(changelog): update changelog
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(evo-datepicker): fixed reset constraints when no maxDays restriction
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-datepicker): fixed check when flatpicker was not initialized
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  projects/evo-ui-kit/src/lib/components/evo-datepicker/flatpickr-options.interface.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  61c315b090ec6ef50a3e0342f59357f8ccec2128
Due: none

test(project): fix code style
  projects/evo-ui-kit/src/test.ts
Due: yarn lint:ts

refactor(ui-kit): remove unused imports
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
Due: yarn lint:ts

feat(npmrc): added config for registries
  .npmrc
Due: none

chore(package.json): updated angular version
  package.json
  projects/evo-ui-kit/package.json
Due: none

fix(evo-click-outside): fixed bug with typings
  projects/evo-ui-kit/src/lib/directives/evo-click-outside.directive.ts
Due: yarn lint:ts

fix(evo-banner): provide window
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
Due: yarn lint:ts

test(evo-ui-class): add test cases
  projects/evo-ui-kit/src/lib/directives/evo-ui-class.directive.spec.ts
Due: yarn lint:ts

feat(evo-chip): init evo-chip component
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/index.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/public-api.ts
  src/app/app.module.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-chip): add counter styles, start improve label styles
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  src/app/app.component.html
  src/app/app.component.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  227021f1af4b80c46e1ecdac58985ab071c825ae
Due: none

chore(project): version up 5.8.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
  yarn.lock
Due: none

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
