Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

chore(release): 4.0.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(gulp): fix storybook build
  gulpfile.js
Due: none

chore(package): fix dependencies
  package.json
  yarn.lock
Due: none

feat(toast): +skip queue prop
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.ts
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.html
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.ts
Due: yarn lint:ts

feat(toast): +specs
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
Due: yarn lint:ts

feat(popover): wip rework
  package.json
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.html
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
  yarn.lock
Due: yarn lint:ts

feat(variables): added graph colors
  projects/evo-ui-kit/src/lib/styles/variables.scss
  src/stories/typography/colors.scss
  src/stories/typography/colors.stories.ts
Due: yarn lint:ts, yarn lint:styles

refactor(color.stories): removed highlight color
  src/stories/typography/colors.stories.ts
Due: yarn lint:ts

feat(popover): main concept
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover-story.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.html
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
  src/stories/components/evo-popover.stories.ts
Due: yarn lint:ts, yarn lint:styles

feat(popover): fix styles
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
Due: yarn lint:styles

feat(popover): upd specs
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover-story.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
Due: yarn lint:ts, yarn lint:styles

feat(popover): fix story
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover-story.scss
Due: yarn lint:styles

feat(popover): reworked with force method
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.html
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.ts
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.html
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.scss
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(toast): upd force method
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.ts
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.ts
Due: yarn lint:ts

feat(evo-toast): add force method, rework queue logic, remove timeouts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.ts
Due: yarn lint:ts

feat(popover): fix overflow
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover-story.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.html
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
  src/stories/components/evo-popover.stories.ts
Due: yarn lint:ts, yarn lint:styles

feat(popover): +popper.js dependency
  projects/evo-ui-kit/package.json
Due: none

feat(popover): add popper.js to whitelisted deps
  projects/evo-ui-kit/ng-package.prod.json
Due: none

feat(popover): +modifier for arrow offset
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover-story.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
  src/stories/components/evo-popover.stories.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-tabs): add draft of refactored tabs
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-item/evo-tab-item.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-item/evo-tab-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.module.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/public-api.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-tabs): add draft of refactored tabs
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: yarn lint:ts

feat(popover): fix popover styles
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
Due: yarn lint:styles

feat(popover): ref getTargetNode method
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

feat(popover): lint styles
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover-story.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
Due: yarn lint:styles

feat(evo-tabs): rework: multi-register, content outside
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.module.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

feat(popover): ref changes with destruction
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

chore(release): 3.3.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-tabs): refactor naming and add Tab interface
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: yarn lint:ts

fix(evo-tabs): remove test code
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: yarn lint:ts

fix(evo-tabs): code style fixes
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.module.ts
  src/app/app.component.html
Due: yarn lint:ts, yarn lint:styles

fix(evo-toast): change rx pipe
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.ts
Due: yarn lint:ts

feat(evo-toast-service-spec): fix specs
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.spec.ts
Due: yarn lint:ts

fix(evo-tabs): renaming
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

fix(evo-tabs): service refactor
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

feat(select): +valid state styles
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.scss
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
Due: yarn lint:ts, yarn lint:styles

chore(release): 3.4.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(release): 3.5.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-toast-service-spec)): fixed teset case for close button
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
Due: yarn lint:ts

fix(popover): inline-block host
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.html
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
Due: yarn lint:styles

feat(pipes): introduce couple common pipes
  projects/evo-ui-kit/src/lib/pipes/declination.pipe.ts
  projects/evo-ui-kit/src/lib/pipes/evo-pipes.module.ts
  projects/evo-ui-kit/src/lib/pipes/index.ts
  projects/evo-ui-kit/src/lib/pipes/public-api.ts
  projects/evo-ui-kit/src/lib/pipes/safe-html.pipe.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts
