Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

feat(evo-paginator): add visiblePagesLimit option
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.ts
Due: yarn lint:ts

fix(evo-paginator): first page style fix
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.html
Due: none

test(evo-paginator): add tests
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.spec.ts
Due: yarn lint:ts

test(evo-paginator): update tests coverage
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.spec.ts
Due: yarn lint:ts

fix(evo-paginator): fix default visible pages
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  24/855e6268241889ecf007c94ac5bc2931e3d7f2
Due: none

chore(project): bump version to 5.35.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(portal): + abstract portal class
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-portal.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
Due: yarn lint:ts

feat(sidebar): reset attached portal
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-portal.ts
Due: yarn lint:ts

feat(sidebar): animation moved
  projects/evo-ui-kit/src/lib/common/animations/index.ts
  projects/evo-ui-kit/src/lib/common/animations/sidebar.animation.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
Due: yarn lint:ts

feat(sidebar): error for id duplicate
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
Due: yarn lint:ts

fix(evo-checkbox): fix styles, add transition
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.html
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles

fix(evo-radio): fix styles, add transition
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.scss
Due: yarn lint:styles

fix(evo-control-label): empty label support, white-space inheritance
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.html
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.scss
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-form): add basic evo-form styles
  projects/evo-ui-kit/src/lib/styles/components/evo-form.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
Due: yarn lint:styles

fix(table): adjust styles to styles from the design
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
Due: yarn lint:styles

fix(evo-form): styles refactoring
  projects/evo-ui-kit/src/lib/styles/components/evo-form.scss
Due: yarn lint:styles

feat(evo-control-label): add templated label support
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.html
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.scss
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.ts
Due: yarn lint:ts, yarn lint:styles

test(evo-control-label): add tests
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.spec.ts
Due: yarn lint:ts

docs(evo-control-label): add story
  src/stories/components/evo-control-label.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  ca/aa4a6610af340d568885d2ab376c94b5df36c0
Due: none

chore(project): bump version to 5.36.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

docs(evo-form): add form stories
  src/stories/layout/evo-form.stories.ts
Due: yarn lint:ts

feat(sidebar): set size for dynamic strategy
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/interfaces.ts
Due: yarn lint:ts

test(sidebar): +specs
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/tokens.ts
Due: yarn lint:ts

fix(evo-form): fix size-2
  projects/evo-ui-kit/src/lib/styles/components/evo-form.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  19/a668fa6aef7e1c5e2b17cfd34bf65c1713c914
Due: none

chore(project): bump version to 5.36.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

test(sidebar): +few specs
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
Due: yarn lint:ts

test(sidebar): fix spec
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
Due: yarn lint:ts

feat(evo-input): add size modifier prop
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts, yarn lint:styles

docs(story): add story-global.scss
  src/assets/scss/story-global.scss
  src/stories/components/evo-input.stories.ts
  src/stories/layout/evo-form.stories.ts
Due: yarn lint:ts, yarn lint:styles

test(evo-control-label): minor
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.spec.ts
Due: yarn lint:ts

test(evo-input): add tests
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  b1/3d9ef4867948f2eac5bf57576f70de88eb3049
Due: none

chore(project): bump version to 5.37.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

docs(evo-input): add small size demo
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts
