Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

Notes added by 'git notes add'
  fa/70d3dfd358df94ec0805c89d3dca41c07d3a64
Due: none

chore: bump version to 5.69.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-input-contenteditable): fix styles via mixins
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
Due: yarn lint:styles

docs(stories): fix evo-input-contenteditable stories failures
  src/stories/components/evo-input-contenteditable.stories.ts
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  9c/58827ba46659a89e2018072fe15bab61149b97
Due: none

chore: bump version to 5.70.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-icon): add icon
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Application.svg
Due: none

docs: update readme
  README.md
Due: none

build: add eslint, remove tslint
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc.js
  angular.json
  package-lock.json
  package.json
  tsconfig.eslint.json
  tslint.json
Due: none

refactor(evo-sidebar): add host provider service, remove cyclic deps
  projects/evo-ui-kit/src/lib/components/evo-sidebar/classes/abstract-sidebar-section-component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/enums/evo-sidebar-close-targets.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/enums/evo-sidebar-sizes.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/enums/evo-sidebar-states.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/enums/index.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-footer/evo-sidebar-footer.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-host-provider.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/interfaces.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/public-api.ts
Due: yarn lint:ts

build: enable Ivy partial compilation mode
  projects/evo-ui-kit/tsconfig.lib.json
Due: none

feat(evo-input): add custom content inside input
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-chip): add type="button" in close button
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
Due: none

feat(evo-input): update evoInputPrefixContent feature
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  e6/4b508658370dc236e50627b39568e86ab0d50f
Due: none

chore: bump version to 5.71.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-input): fix border radius for prefixContent
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  f3/5f8e69a89bf6d60ebeb95da37aad7e0b61fdac
Due: none

chore: bump version to 5.71.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(icons): add color icons
  projects/evo-ui-kit/src/svg/color-icons/Biil.svg
  projects/evo-ui-kit/src/svg/color-icons/Card.svg
  projects/evo-ui-kit/src/svg/color-icons/QR.svg
  projects/evo-ui-kit/src/svg/color-icons/SBP.svg
  projects/evo-ui-kit/src/svg/color-icons/Tap On Phone.svg
  projects/evo-ui-kit/src/svg/color-icons/Terminal Free.svg
Due: none

fix(evo-checkbox): fix tab navigation
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  f9/a15fd3242ae740ed1ef263bdc6a118818b31b3
Due: none

docs(color-icons): update icons list
  src/generated/color-icons.ts
Due: yarn lint:ts

chore: bump version to 5.71.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-note): new component instead of evo-alert
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.html
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.scss
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.ts
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.module.ts
  projects/evo-ui-kit/src/lib/components/evo-note/index.ts
  projects/evo-ui-kit/src/lib/components/evo-note/public.api.ts
  projects/evo-ui-kit/src/lib/styles/variables.scss
  src/stories/components/evo-note.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-note): add tests
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.spec.ts
Due: yarn lint:ts

feat(evo-note): correct styles, typing, clear
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.html
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.scss
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.ts
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.module.ts
  projects/evo-ui-kit/src/lib/components/evo-note/public.api.ts
  projects/evo-ui-kit/src/lib/components/evo-note/types/evo-note-type.ts
  projects/evo-ui-kit/src/lib/styles/variables.scss
  src/stories/components/evo-note.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-note): correct color in different states
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.scss
Due: yarn lint:styles

fix(evo-note): clear code
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.html
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.scss
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.ts
  src/stories/components/evo-note.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-note): fix media
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.scss
Due: yarn lint:styles

fix(evo-note): minor
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.html
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.scss
Due: yarn lint:styles

fix(evo-note): fix close transition
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.scss
Due: yarn lint:styles

feat(evo-note): add close event payload
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.html
  projects/evo-ui-kit/src/lib/components/evo-note/evo-note.component.ts
Due: yarn lint:ts

docs(evo-note): update evo-note story
  src/stories/components/evo-note.stories.ts
Due: yarn lint:ts

docs(evo-alert): add deprecation warning
  src/stories/components/evo-alert.stories.ts
Due: yarn lint:ts

style(evo-alert): deprecation warnings
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.ts
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.module.ts
Due: yarn lint:ts
