Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

chore(project): version up 5.27.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

refactor(evo-if-expanded): remove templateRef check for null
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.ts
Due: yarn lint:ts

feat(evo-if-expanded): set initial state
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.ts
Due: yarn lint:ts

feat(evo-accordion-title): title processing
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.ts
Due: yarn lint:ts, yarn lint:styles

chore(evo-accordion-panel): styling
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(animations): adding expand and skip initial render animations
  projects/evo-ui-kit/src/lib/common/animations/expand.animation.ts
  projects/evo-ui-kit/src/lib/common/animations/index.ts
  projects/evo-ui-kit/src/lib/common/animations/skip-initial-render.animation.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

feat(evo-accordion): animations processing
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.module.ts
Due: yarn lint:ts, yarn lint:styles

refactor(evo-accordion): remove html files for short components template
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.ts
Due: yarn lint:ts

fix(evo-accordion-panel): selector and styles
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.ts
Due: yarn lint:ts, yarn lint:styles

fix(variables): add Helvetica Neue as a fallback for ruble sign
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  d5/57d2b06878a4c4036cd60c87a679268d558a14
Due: none

chore(project): version up 5.27.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(evo-accordion-title): hover and active events styles
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
Due: yarn lint:styles

fix(evo-accordion-title): adapt to resize
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
Due: yarn lint:styles

feat(textarea): rows input added
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.html
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.ts
Due: yarn lint:ts

fix(textarea): min-height removed
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  e2/cc6a74587fe999cfeee97d8c8b4e16ee417093
Due: none

chore(project): version up 5.28.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-accordion-panel): public toggle method
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.ts
Due: yarn lint:ts

fix(evo-accordion-title): styles
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-if-expanded): sync expanded state
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.ts
Due: yarn lint:ts

docs(evo-accordion): stories
  src/stories/components/evo-accordion.stories.ts
Due: yarn lint:ts

test(evo-accordion): specs
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
Due: yarn lint:ts

feat(icons): merge fix icons sources
  projects/evo-ui-kit/src/svg/color-icons/Number-1.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Chat.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Check Square Outlined.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Clock Solid.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Delete Outlined.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Document.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Eye.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Feed.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Filter.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Folder Alert.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Folder Check.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Folder Few Check.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/History.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Info.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Mail.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Offline.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Online.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Phone.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Play Circle.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Power.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Refresh.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Research.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Send.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Smartphone.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Specify.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/USB.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/User Check.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Work.svg
Due: none

feat(icons): add legacy color icons
  projects/evo-ui-kit/src/svg/color-icons/Big Data.svg
  projects/evo-ui-kit/src/svg/color-icons/Blank.svg
  projects/evo-ui-kit/src/svg/color-icons/Card Attention.svg
  projects/evo-ui-kit/src/svg/color-icons/Cards.svg
  projects/evo-ui-kit/src/svg/color-icons/Cash.svg
  projects/evo-ui-kit/src/svg/color-icons/Clock.svg
  projects/evo-ui-kit/src/svg/color-icons/Code.svg
  projects/evo-ui-kit/src/svg/color-icons/Comment Approved.svg
  projects/evo-ui-kit/src/svg/color-icons/Comment Declined.svg
  projects/evo-ui-kit/src/svg/color-icons/Comment.svg
  projects/evo-ui-kit/src/svg/color-icons/Evotor Payment.svg
  projects/evo-ui-kit/src/svg/color-icons/HR.svg
  projects/evo-ui-kit/src/svg/color-icons/Highlight.svg
  projects/evo-ui-kit/src/svg/color-icons/Mail New.svg
  projects/evo-ui-kit/src/svg/color-icons/Market.svg
  projects/evo-ui-kit/src/svg/color-icons/Money.svg
  projects/evo-ui-kit/src/svg/color-icons/Not Found.svg
  projects/evo-ui-kit/src/svg/color-icons/Numbers.svg
  projects/evo-ui-kit/src/svg/color-icons/OK.svg
  projects/evo-ui-kit/src/svg/color-icons/Phone.svg
  projects/evo-ui-kit/src/svg/color-icons/Piechart.svg
  projects/evo-ui-kit/src/svg/color-icons/Production.svg
  projects/evo-ui-kit/src/svg/color-icons/Purse.svg
  projects/evo-ui-kit/src/svg/color-icons/Rating.svg
  projects/evo-ui-kit/src/svg/color-icons/Shelf.svg
  projects/evo-ui-kit/src/svg/color-icons/Sim Activated.svg
  projects/evo-ui-kit/src/svg/color-icons/Sim Cancel.svg
  projects/evo-ui-kit/src/svg/color-icons/Sim Normal.svg
  projects/evo-ui-kit/src/svg/color-icons/Sim Waiting.svg
  projects/evo-ui-kit/src/svg/color-icons/Stop.svg
  projects/evo-ui-kit/src/svg/color-icons/Waiting.svg
  projects/evo-ui-kit/src/svg/color-icons/Warning.svg
  projects/evo-ui-kit/src/svg/color-icons/Wi-Fi.svg
Due: none

chore(icons): add static icons story
  package.json
  scripts/gulp-icons-build.js
  src/stories/components/evo-icon.stories.ts
Due: yarn lint:ts

docs(evo-icon): add assets info
  src/stories/components/evo-icon.stories.ts
Due: yarn lint:ts

fix(evo-if-expanded): expandedChange emit for use without service
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.ts
Due: yarn lint:ts

test(evo-if-expanded): specs+
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.spec.ts
Due: yarn lint:ts

fix(evo-accordion): formatting
  projects/evo-ui-kit/src/lib/common/animations/expand.animation.ts
  projects/evo-ui-kit/src/lib/common/animations/index.ts
  projects/evo-ui-kit/src/lib/common/animations/skip-initial-render.animation.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.scss
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.spec.ts
  projects/evo-ui-kit/src/lib/services/evo-if-expanded.service.ts
  projects/evo-ui-kit/src/lib/services/index.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-accordion-content): formatting
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.scss
Due: yarn lint:styles

fix(evo-accordion): naming, lint warn, styles, icons
  projects/evo-ui-kit/src/lib/common/animations/expand.animation.ts
  projects/evo-ui-kit/src/lib/common/animations/skip-initial-render.animation.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.module.ts
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.spec.ts
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.ts
  projects/evo-ui-kit/src/lib/directives/evo-is-expanded.directive.spec.ts
  projects/evo-ui-kit/src/lib/directives/evo-is-expanded.directive.ts
  projects/evo-ui-kit/src/lib/directives/public-api.ts
  projects/evo-ui-kit/src/lib/evo-ui-kit.module.ts
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Chevron Down Rounded.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Chevron Up Rounded.svg
  projects/evo-ui-kit/src/lib/services/evo-expanded.service.ts
  projects/evo-ui-kit/src/lib/services/evo-if-expanded.service.ts
  projects/evo-ui-kit/src/lib/services/public-api.ts
  src/stories/components/evo-accordion.stories.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-accordion): toggling panels if not declare isExpandedDirective
  projects/evo-ui-kit/src/lib/common/animations/expand.animation.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.ts
Due: yarn lint:ts

test(evo-accordion): +spec
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
Due: yarn lint:ts

fix(evo-is-expanded): correct unsubscribe
  projects/evo-ui-kit/src/lib/directives/evo-is-expanded.directive.ts
Due: yarn lint:ts

refactor(evo-accordion): html + ts format
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
Due: yarn lint:ts

Notes added by 'git notes add'
  7d/fe767a22786a9812505d899052c14895c3f5a5
Due: none

chore(project): version up 5.29.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(input): default input debounce
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

fix(input): comments for sonar
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
