Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

test(evo-tabs): dynamic update of tabs, async tests
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.spec.ts
Due: yarn lint:ts

chore(project): ng9
  package.json
  yarn.lock
Due: none

chore(project): ng9
  angular.json
  package.json
  projects/evo-ui-kit/tsconfig.lib.json
  projects/evo-ui-kit/tsconfig.lib.prod.json
  projects/evo-ui-kit/tsconfig.spec.json
  src/tsconfig.app.json
  src/tsconfig.spec.json
  tsconfig.json
  yarn.lock
Due: none

chore(project): ng9
  angular.json
Due: none

chore(project): ng9
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper-item/evo-stepper-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-column/evo-table-column.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-item/evo-tab-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

chore(project): ng9
  projects/evo-ui-kit/src/lib/services/window.service.ts
Due: yarn lint:ts

chore(projec): ng9
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
Due: yarn lint:ts

chore(project): ng9
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
Due: yarn lint:ts

chore(package): update ngx-page-scroll
  package.json
  yarn.lock
Due: none

chore(evo-tabs): remove unused component
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-item/evo-tab-item.component.ts
Due: yarn lint:ts

chore(package): update peer dependencies
  projects/evo-ui-kit/package.json
Due: none

chore(package): fix dependencies for ng9
  package.json
  projects/evo-ui-kit/package.json
  yarn.lock
Due: none

test(evo-tabs): tests
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
Due: yarn lint:ts

fix(evo-tabs): remove async logic
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

chore(project): version up 3.33.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(project): update storybook
  package.json
  yarn.lock
Due: none

fix(evo-stepper): fix undefined
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.ts
Due: yarn lint:ts

chore(project): update angular.json, fixate handlebars version
  angular.json
  package.json
  yarn.lock
Due: none

chore(project): update spectator, tests
  angular.json
  package-lock.json
  package.json
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radio-group/evo-radio-group.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/test.ts
  src/test.ts
  yarn.lock
Due: yarn lint:ts

chore(project): use ts-loader
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: none

chore(project): disable ivy for tests
  projects/evo-ui-kit/tsconfig.spec.json
Due: none

Notes added by 'git notes add'
  73a1c23737908e9793c02ae79fe30b96a0a9e6fa
Due: none

chore(project): version up 5.0.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(pipes.module): fix export, ivy turn on
  projects/evo-ui-kit/src/lib/pipes/public-api.ts
  tsconfig.json
Due: yarn lint:ts

Notes added by 'git notes add'
  8673b514893c5247c353b64211500e9afb1c0800
Due: none

fix(pipes.module): ivy turn off
  tsconfig.json
Due: none

Notes added by 'git notes add'
  b5221a0976d4364dc015f5e98dc4941f4bd2527c
Due: none

chore(project): version up 5.0.1
  projects/evo-ui-kit/CHANGELOG.md
Due: none

feat(fonts): remove fontsustom, museo, icons fonts
  projects/evo-ui-kit/src/assets/fonts/fontcustom/fontcustom_48b171e617a0a8113778d8171691788a.eot
  projects/evo-ui-kit/src/assets/fonts/fontcustom/fontcustom_48b171e617a0a8113778d8171691788a.svg
  projects/evo-ui-kit/src/assets/fonts/fontcustom/fontcustom_48b171e617a0a8113778d8171691788a.ttf
  projects/evo-ui-kit/src/assets/fonts/fontcustom/fontcustom_48b171e617a0a8113778d8171691788a.woff
  projects/evo-ui-kit/src/assets/fonts/icons.eot
  projects/evo-ui-kit/src/assets/fonts/icons.svg
  projects/evo-ui-kit/src/assets/fonts/icons.ttf
  projects/evo-ui-kit/src/assets/fonts/icons.woff
  projects/evo-ui-kit/src/assets/fonts/museo/MuseoSansCyrl-100.woff
  projects/evo-ui-kit/src/assets/fonts/museo/MuseoSansCyrl-300.woff
  projects/evo-ui-kit/src/assets/fonts/museo/MuseoSansCyrl-500.woff
  projects/evo-ui-kit/src/assets/fonts/museo/MuseoSansCyrl-700.woff
  projects/evo-ui-kit/src/assets/fonts/museo/MuseoSansCyrl-900.woff
  projects/evo-ui-kit/src/lib/styles/fonts.scss
  projects/evo-ui-kit/src/lib/styles/main.scss
Due: yarn lint:styles

fix(package): fix peer dependencies
  projects/evo-ui-kit/package.json
Due: none

fix(package): fix peer dependencies
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/ng-package.prod.json
Due: none

Notes added by 'git notes add'
  078eb1d65a07b76fb762ace4ce2c92843fa6fe7c
Due: none

chore(package): allow releases from other branches
  projects/evo-ui-kit/.releaserc.json
Due: none

chore(project): version up 5.1.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

feat(upload): uppercase extension
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

chore(project): version up 3.34
  package-lock.json
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(project): ignore package-lock
  .gitignore
  package-lock.json
Due: none

Notes added by 'git notes add'
  26d09646c818495f32e74a7309de236a1eaa0df2
Due: none

chore(project): version up 5.2.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none
