Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

refactor(evo-popover): refactor, codestyle
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

fix(evo-popover): fix merge
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.html
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
Due: yarn lint:styles

docs(evo-popover): add story + codestyle
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover-story.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.module.ts
  src/stories/components/evo-popover.stories.ts
Due: yarn lint:ts, yarn lint:styles

chore(release): 4.1.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(package): add popper.js dependency
  projects/evo-ui-kit/package.json
Due: none

chore(release): 4.1.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(ng-package): whitelist dependencies
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/ng-package.prod.json
Due: none

feat(evo-checkbox): indeterminate checkbox
  projects/evo-ui-kit/src/assets/icons/checkbox-check.svg
  projects/evo-ui-kit/src/assets/icons/checkbox-indeterminate.svg
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.html
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: yarn lint:ts, yarn lint:styles

chore(icons): remove .DS_Store file
  projects/evo-ui-kit/src/assets/icons/.DS_Store
Due: none

chore(release): 4.2.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-icons): add icons
  projects/evo-ui-kit/src/lib/icons-src/System/Archive_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Unarchive_24px.svg
Due: none

chore(release): 4.3.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-segmented-bar.stories): add styles to clarify colors
  src/stories/components/evo-segmented-bar.stories.ts
Due: yarn lint:ts

feat(evo-toast): innerHTML and TemplateRef features for evo-toast
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.html
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.ts
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.html
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.ts
Due: yarn lint:ts

chore(release): 4.4.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-segmented-bar): add new disabled styles
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.ts
  projects/evo-ui-kit/src/lib/styles/variables.scss
  src/stories/components/evo-segmented-bar.stories.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-segmented-bar.stories): update story with colors and disabled
  src/stories/components/evo-segmented-bar.stories.ts
Due: yarn lint:ts

feat(evo-segmented-bar): update styles
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
Due: yarn lint:styles

feat(icons-src): added remote icon
  projects/evo-ui-kit/src/lib/icons-src/System/Remote_24px.svg
Due: none

feat(evo-table): added custom mobile label
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
Due: none

feat(evo-toast): use evo-icon for close, set colors for links
  projects/evo-ui-kit/src/assets/icons/toast-close.svg
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.html
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.scss
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.module.ts
Due: yarn lint:ts, yarn lint:styles

test(evo-toast): fix test imports
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
Due: yarn lint:ts

chore(release): 3.20.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-toast): import fix
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.module.ts
Due: yarn lint:ts

feat(evo-segmented-bar): change cursor for disabled state
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
Due: yarn lint:styles

fix(variables): rename variables
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:styles

fix(datepicker): flatpickr init fix
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

feat(icons-src): added folder icon
  projects/evo-ui-kit/src/lib/icons-src/System/Folder_24px.svg
Due: none

feat(evo-plus-minus): replace fontawesome icons to svg
  projects/evo-ui-kit/src/assets/icons/minus.svg
  projects/evo-ui-kit/src/assets/icons/plus.svg
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.html
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.scss
Due: yarn lint:styles

style(evo-datepicker): style lint
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: yarn lint:styles

chore(release): 3.21.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-datepicker): fixed input
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
Due: none

feat(evo-datepicker): fixed disabled state
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

refactor(evo-datepicker): fixed attr
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

chore(release): 3.22.0
  projects/evo-ui-kit/.releaserc.json
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-toast): fix evo-toast import
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.module.ts
Due: yarn lint:ts

chore(project): version up
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-datepicker): fixes
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts
