Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

feat(icons): add Copy, ID icons
  projects/evo-ui-kit/src/lib/icons-src/System/Copy_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/ID_24px.svg
Due: none

Notes added by 'git notes add'
  a837cd445144cbb01c92bad51ba1da86561f7023
Due: none

chore(project): version up 5.9.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-chip): fix styles for chip states
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  src/app/app.component.html
Due: yarn lint:ts, yarn lint:styles

fix(app): revert test changes
  src/app/app.component.html
  src/app/app.component.ts
Due: yarn lint:ts

feat(evo-chip): add component export
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-chip): add component export +
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

fix(evo-chip): revert test code
  src/app/app.component.html
  src/app/app.module.ts
Due: yarn lint:ts

fix(evo-chip): fix imports
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
Due: yarn lint:ts

fix(evo-chip): fix active styles
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.scss
Due: yarn lint:styles

fix(evo-chip): fix counter styles
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.scss
Due: yarn lint:styles

feat(evo-chip): add story
  src/stories/components/evo-chip.stories.ts
Due: yarn lint:ts

test(evo-chip): add tests
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
Due: yarn lint:ts

fix(evo-banner): replace ng-toolkit with local window service
  package.json
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.module.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  4df3f1e77fa9bbdf43808e4c4c66087a28443d14
Due: none

chore(project): version up 5.9.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(package): rxjs up to 6.5.5
  package.json
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  6da6da94059398688a5c1036398a1655d4d7360e
Due: none

fix(autocomplete): +editableSearchTerm
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts

chore(project): version up 5.9.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  b0c4f2e1aa893d6773437fa359b04c831e260fb0
Due: none

chore(project): version up 5.9.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(icons): add category icons
  projects/evo-ui-kit/src/lib/icons-src/Category/Barcode_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Internet_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Personnel_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Restaurant_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Scissors_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Service_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Service_Package_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Transport_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Сourier_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Сredit_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Rouble_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Info/Warehouse_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Side Menu/DataMatrix_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Accounting_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Alco_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Dialog_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Graph_Square_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/SIM_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Scanner_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Terminal_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Terminal_Rent_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/UserGroup_24px.svg
Due: none

Notes added by 'git notes add'
  11ac01192c7b52c80f5b66946fc9a480fe450655
Due: none

chore(project): version up 5.10.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(icons): add category icon
  projects/evo-ui-kit/src/lib/icons-src/Category/Folder_Outline_24px.svg
Due: none

Notes added by 'git notes add'
  257009048b0c3bc52c4371021caa98c8bda3b761
Due: none

chore(project): version up 5.11.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(icon): fix category icon
  projects/evo-ui-kit/src/lib/icons-src/Category/Folder_Outline_24px.svg
Due: none

Notes added by 'git notes add'
  c2ae0c367337b53abbbf69a47582863d4def18d8
Due: none

chore(project): version up 5.11.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-radioshape): update styles
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.html
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.scss
Due: yarn lint:styles

feat(icons): add system icon
  projects/evo-ui-kit/src/lib/icons-src/System/Linked_Rounded_24px.svg
Due: none

Notes added by 'git notes add'
  a479025b66f5fc3047056940fe59b2e252202e08
Due: none

chore(project): version up 5.12.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-datepicker): hidden default text when config has altInput mode
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  a52d88187cb19960b0d4e9826fdaa15e75a428f4
Due: none

chore(project): version up 5.13.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(storybook): fixed build
  package.json
Due: none

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
