Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

feat(modal): portal implementation
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-abstract-portal.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-buttons/evo-modal-buttons.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-buttons/evo-modal-buttons.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-buttons/evo-modal-buttons.component.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-content/evo-modal-content.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-content/evo-modal-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-header/evo-modal-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-header/evo-modal-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-header/evo-modal-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-header/evo-modal-icon.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-header/evo-modal-title.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal-portal.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.module.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/interfaces.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/tokens.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-component-portal.class.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-abstract-portal.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/interfaces.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/tokens.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-modal-mixins.scss
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.html
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.ts
  src/stories/components/evo-modal.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(sidebar & modal): specs fixed
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
Due: yarn lint:ts

fix(modal): imports cleanup
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: yarn lint:ts

feat(icons): added go market icon
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Go Market.svg
Due: none

Notes added by 'git notes add'
  32/d8e9435873f0289fa6b6d3ff0e026cf56f328d
Due: none

chore(project): bump version to 5.47.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(serializable): remove proper modifiers
  projects/evo-ui-kit/src/lib/common/Serializable.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  07/80f0366266c51d54eea52a9ce9fdff21d43a0e
Due: none

chore(project): bump version to 5.47.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(icons): add emotions icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Emotions/Happy.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Emotions/Neutral.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Emotions/Sad.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Emotions/Very Happy.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Emotions/Very Sad.svg
Due: none

fix(icons): fix alert-triangle
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Alert_Triangle_24px.svg
Due: none

fix(icons): fix check-rounded
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Check_Rounded_24px.svg
Due: none

fix(icons): fix folder
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Folder_24px.svg
Due: none

fix(icons): fix upload
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Upload_24px.svg
Due: none

Notes added by 'git notes add'
  55/5ff2880e55acf1d4b1e74c0bb95521319dc5d8
Due: none

chore(project): bump version to 5.48.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-counter): add component
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.html
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.module.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/index.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/public-api.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-counter): update stories
  src/stories/components/evo-counter.stories.ts
Due: yarn lint:ts

feat(evo-badge): add component
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.html
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.module.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/index.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/public-api.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-badge): update stories
  src/stories/components/evo-badge.stories.ts
Due: yarn lint:ts

feat(evo-counter): clear code
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.html
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-tabs): small size
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-tabs): update stories
  src/stories/components/evo-tabs.stories.ts
Due: yarn lint:ts

feat(evo-input): round clearable prefix-icon
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input-icon/evo-input-icon.directive.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input-icon/evo-input-icon.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
  projects/evo-ui-kit/src/lib/components/evo-input/public-api.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-input): update stories
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts

feat(color-palette): add color-palette type and enum
  projects/evo-ui-kit/src/lib/common/constants/evo-color-palette.ts
Due: yarn lint:ts

feat(constants): move css-breakpoints constant
  projects/evo-ui-kit/src/lib/common/constants/css-breakpoints.ts
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

feat(colors): remove undefined color
  projects/evo-ui-kit/src/lib/common/constants/evo-color-palette.ts
Due: yarn lint:ts

docs(evo-tabs): clean code
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.module.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/public-api.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-badge): color palette
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.module.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-datepicker): appendTo in defaultOptions
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-datepicker): clear code
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

docs(evo-datepicker): with appendToBody
  src/stories/components/evo-datepicker.stories.ts
Due: yarn lint:ts

feat(evo-counter): clear code
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.spec.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  de/fb243c37fa0b6d24270186b51a5f46fb9a3a07
Due: none

chore(project): bump version to 5.49.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-input): clear code
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
Due: yarn lint:ts
