Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

docs(evo-checkbox): add intereminate checkbox demo
  src/stories/components/evo-checkbox.stories.ts
Due: yarn lint:ts

docs(evo-checkbox): add disabled checkbox demo
  src/stories/components/evo-checkbox.stories.ts
Due: yarn lint:ts

test(evo-checkbox): add indeterminate tests
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
Due: yarn lint:ts

chore(project): version up 3.31.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(autocomplete): fix editQuery mode
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts, yarn lint:styles

fix(autocomplete): fix styles
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: yarn lint:styles

fix(autocomplete): fix item label key
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts

test(autocomplete): +specs
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
Due: yarn lint:ts

chore(project): version up 3.31.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-pipes): fixed exports
  projects/evo-ui-kit/src/lib/pipes/index.ts
  projects/evo-ui-kit/src/lib/pipes/public-api.ts
Due: yarn lint:ts

chore(evo-ui-kit): version up
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(popover): update popper.js
  package.json
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/ng-package.prod.json
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.html
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
  yarn.lock
Due: yarn lint:ts, yarn lint:styles

feat(popover): +specs
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
Due: yarn lint:ts

test(popover): +specs
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
Due: yarn lint:ts

chore(project): version up 3.32.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-popover): merge fix
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

fix(evo-popover): remove unused variable
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

fix(evo-popover): move takeUntil to last position
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

chore(project): version up 3.33.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

docs(evo-autocomplete): use dadata proxy
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

chore(package): update package
  package.json
Due: none

chore(package): update package (yarn)
  yarn.lock
Due: none

chore(package): update project to ng8
  package.json
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  yarn.lock
Due: yarn lint:ts

fix(upload): validate files sum
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

refactor(upload): files length validation as fn
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

chore(project): version up 3.33.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

docs(evo-radio): fix radio story
  src/stories/components/evo-radio.stories.ts
Due: yarn lint:ts

fix(evo-autocomplete): fix unhandled properties
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts

fix(evo-upload): fix unhandled nativeElement
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

test(evo-popover): fix popover test
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
Due: yarn lint:ts

test(evo-ui-class): fix test
  projects/evo-ui-kit/src/lib/directives/evo-ui-class.directive.spec.ts
Due: yarn lint:ts

chore(package): update semantic-release plugin
  package.json
  yarn.lock
Due: none

chore(project): version up 4.5.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  f1a32378a159b6e2dce0005509c1bcbb5680ebdf
Due: none

Notes added by 'git notes add'
  128df99c8e80dd325f39ca06ee64d29b8dd087e7
Due: none

chore(project): version up 4.5.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-tabs): dynamic update of tabs
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-state.collection.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts
