Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

fix(evo-button): replace bg color for disabled state
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
Due: yarn lint:styles

fix(test): remove useless imports
  package.json
  projects/evo-ui-kit/src/test.ts
  projects/evo-ui-kit/tsconfig.spec.json
Due: yarn lint:ts

feat(build): update docker image for karma
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
Due: none

feat(evo-modal): fix minor styles
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  eca72a48c62861c5049fdfa83e1e73a125870803
Due: none

chore(project): version up 5.14.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(icons): fix icon names Credit_Blank, Courier
  projects/evo-ui-kit/src/lib/icons-src/Category/Courier_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Category/Credit_Blank_24px.svg
Due: none

Notes added by 'git notes add'
  293939fd741666580848c4953c015066dbc9e6d1
Due: none

chore(project): version up 5.14.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(icons): check cyrilic chars
  icons-build.js
Due: none

fix(icons): search in story
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.html
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.ts
Due: yarn lint:ts

feat(evo-radioshape): remove visual input test
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.spec.ts
Due: yarn lint:ts

feat(evo-radioshape): remove content test
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.spec.ts
Due: yarn lint:ts

feat(evo-modal): set accept button color to green
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
Due: none

Notes added by 'git notes add'
  67b4eb107db6761eb59af81d23b2a2890a49d23b
Due: none

Notes added by 'git notes add'
  3adc39f9c100aee121714f72d6b24b0c42c3b5f9
Due: none

chore(project): version up 5.15.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(polyfills): fix reflect metadata polyfills path
  src/polyfills.ts
Due: yarn lint:ts

docs(evo-button): update evo-button story
  src/stories/components/evo-button.stories.ts
Due: yarn lint:ts

fix(evo-button): set transparent border for buttons, fix disabled style
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  55b8b89998cffdac1b160dea1bf620c677180c2a
Due: none

chore(project): version up 5.15.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-input): add loading state
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-input): add story
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts

fix(evo-input): fix loading when additional elements exist
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: yarn lint:styles

fix(evo-datepicker): fix select conflict issue
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

feat(evo-datepicker): rebuild initialization of datepicker
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  projects/evo-ui-kit/src/lib/components/evo-datepicker/flatpickr-options.interface.ts
Due: yarn lint:ts

test(evo-input): add base tests
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts

fix(evo-datepicker): rename CSS class disabled to flatpickr-disabled
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: yarn lint:styles

chore(yarn): update lock
  yarn.lock
Due: none

fix(evo-datepicker): remove doubling options of FlatpickrOptions
  projects/evo-ui-kit/src/lib/components/evo-datepicker/flatpickr-options.interface.ts
Due: yarn lint:ts

docs(evo-datepicker): update start date in story
  src/stories/components/evo-datepicker.stories.ts
Due: yarn lint:ts

style(evo-datepicker): fix codesmell
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-input): rename focused and tooltipShown props
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: yarn lint:styles

feat(evo-input): rename focused and tooltipShown props, refactor styles
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

fix(evo-input): fix styles
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
Due: none

test(evo-input): fix tests
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
Due: yarn lint:ts

feat(evo-input): put input states into uiStates object
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

test(evo-datepicker): add basic tests
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.spec.ts
Due: yarn lint:ts

fix(sonar): coverage reports
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
  package.json
Due: none
