Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

fix(evo-stepper): mobile stepper
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.scss
Due: yarn lint:styles

fix(evo-autocomplete): icon styles on hover
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: yarn lint:styles

fix(evo-autocomplete): position icon parent
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: yarn lint:styles

feat(evo-tabs): clean code
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
Due: yarn lint:ts, yarn lint:styles

ci(release): notify
  .github/workflows/release.yml
Due: none

ci(notify): release notify workflow
  .github/scripts/notify-telegram.sh
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  8c/3b17f9a5a395a765efd76311c7f03796a220d4
Due: none

chore(project): bump version to 5.49.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

ci(notify): update script message
  .github/workflows/release.yml
Due: none

feat(evo-input): clear code
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts

feat(evo-tabs): clean code
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
Due: yarn lint:ts

feat(evo-datepicker): clean code
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  src/stories/components/evo-datepicker.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  91/c4354f426455902b6dc4acd93f2d3c3fb3ae1e
Due: none

chore(project): bump version to 5.50.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(icons): fix minus default icon
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Minus.svg
Due: none

Notes added by 'git notes add'
  e4/ca56c3d76647dc0e5d6d83c0db2e3c26746b12
Due: none

chore(project): bump version to 5.50.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-toggle): add disabled input
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.html
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.ts
Due: yarn lint:ts, yarn lint:styles

chore(test): sonar test
  README.md
Due: none

feat(evo-toggle): update evo-toggle
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-toggle): clean code
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.ts
Due: yarn lint:ts

feat(typings): simplify EvoColor type + rename EVO_COLOR
  projects/evo-ui-kit/src/lib/common/constants/evo-color-palette.ts
  projects/evo-ui-kit/src/lib/common/enums/evo-color.ts
  projects/evo-ui-kit/src/lib/common/enums/index.ts
  projects/evo-ui-kit/src/lib/common/types/evo-color.type.ts
  projects/evo-ui-kit/src/lib/common/types/index.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-badge.stories.ts
Due: yarn lint:ts

feat(evo-toggle): changing styles
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.html
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.ts
Due: yarn lint:ts, yarn lint:styles

style(enums): fix EvoColor case
  projects/evo-ui-kit/src/lib/common/enums/evo-color.ts
  projects/evo-ui-kit/src/lib/common/types/evo-color-keys.ts
  projects/evo-ui-kit/src/lib/common/types/evo-color.type.ts
  projects/evo-ui-kit/src/lib/common/types/index.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  src/stories/components/evo-badge.stories.ts
Due: yarn lint:ts

fix(evo-autocomplete): remove unused, change color for hover
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:styles

feat(evo-badge): sizes support
  projects/evo-ui-kit/src/lib/common/enums/evo-size.ts
  projects/evo-ui-kit/src/lib/common/enums/index.ts
  projects/evo-ui-kit/src/lib/common/types/evo-size-keys.ts
  projects/evo-ui-kit/src/lib/common/types/index.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.html
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  src/stories/components/evo-badge.stories.ts
Due: yarn lint:ts, yarn lint:styles

refactor(evo-toggle): remove wrapper
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.html
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
Due: yarn lint:styles

refactor(evo-toggle): add type for _value
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.ts
Due: yarn lint:ts

refactor(evo-badge): set default size
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  src/stories/components/evo-badge.stories.ts
Due: yarn lint:ts, yarn lint:styles

refactor(evo-toggle): editing unit tests
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
Due: yarn lint:ts

refactor(evo-toggle): clean code
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
Due: yarn lint:styles

test(evo-badge): add color, size check
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
