Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

feat(lodash): use lodash-es instead of lodash
  package.json
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
Due: yarn lint:ts

fix(mixins): added missed media-mobile mixin
  projects/evo-ui-kit/src/lib/styles/mixins.scss
Due: yarn lint:styles

feat(evo-upload): introduced component
  .gitignore
  package-lock.json
  package.json
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/ng-package.prod.json
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.module.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/index.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-upload.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-upload): style lint
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
Due: yarn lint:styles

fix(ci): fixed builds
  package-lock.json
  package.json
Due: none

fix(evo-upload): fixed reset button
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

fix(evo-upload): codestyle
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
Due: none

fix(evo-upload): fixed margin on mobiles
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
Due: yarn lint:styles

feat(icons-src): added lamp icon
  projects/evo-ui-kit/src/lib/icons-src/System/Lamp_24px.svg
  yarn.lock
Due: none

refactor(icon-src): removed fill color at the lamp
  projects/evo-ui-kit/src/lib/icons-src/System/Lamp_24px.svg
Due: none

fix(evo-upload): remove svg styles from ng-deep
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
Due: yarn lint:styles

fix(evo-upload): explicitly set module path
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.module.ts
Due: yarn lint:ts

fix(karma): codestyle
  projects/evo-ui-kit/karma.conf.js
Due: none

fix(evo-upload): rename classes
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
Due: yarn lint:styles

chore(release): 3.6.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-upload): define icons for the module
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.module.ts
Due: yarn lint:ts

chore(evo-ui-kit): version up
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-datepicker): support control states and styles
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-datepicker): remove log
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

feat(evo-tabs): added event on tab selection
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  src/stories/components/evo-tabs.stories.ts
Due: yarn lint:ts

fix(evo-input): mark styles as important
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: yarn lint:styles

refactor(evo-tabs): removed prefix on
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  src/stories/components/evo-tabs.stories.ts
Due: yarn lint:ts

feat(gh-actions): migrate to yml format
  .github/main.workflow
  .github/workflows/pull_request.yml
Due: none

chore(release): 3.7.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-tabs): styles fixes
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.scss
Due: yarn lint:styles

fix(evo-tabs): styles fixes
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.scss
Due: yarn lint:styles

feat(evo-tabs): create evo-tab-content component
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.css
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
Due: yarn lint:ts

feat(evo-tabs): create evo-tab-content component
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.module.ts
Due: yarn lint:ts

fix(evo-tabs): fix error when where is no tabs
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

fix(evo-tabs): add EvoTabContent to exports
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.module.ts
Due: yarn lint:ts

fix(evo-input): fix focused color
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: yarn lint:styles

refactor(evo-tabs): change evo tabs logic
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts, yarn lint:styles

refactor(evo-tabs): evo-tab-content listen to tabs changes
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

refactor(evo-tabs): code style
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
Due: yarn lint:ts

refactor(evo-tabs): styles
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.scss
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-tabs): navigation using arrow buttons
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
Due: yarn lint:ts

refactor(evo-tabs): navigation using arrow buttons
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts
