Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

fix(autocomplete): fix selected background
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
Due: yarn lint:styles

fix(evo-sidebar-header): update icons color
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.scss
Due: yarn lint:styles

feat(evo-input-contenteditable): added tests
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.spec.ts
  projects/evo-ui-kit/src/lib/utils/testing.ts
Due: yarn lint:ts

fix(evo-input-contenteditable): added the minHeight test
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/utils/clear-multiline.ts
Due: yarn lint:ts

feat(evo-icon-button): add theme property
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/types/evo-icon-button-theme.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/types/index.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-loader): add evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.html
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.module.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/public-api.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-loader): add evo-circular-loader
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
Due: yarn lint:styles

fix(evo-loader): fix evo-circular-loader size
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
Due: yarn lint:styles

feat(evo-circular-loader): set default size to 24px
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
Due: yarn lint:styles

docs(evo-loader): update loaders docs
  src/stories/components/evo-loader.stories.ts
Due: yarn lint:ts

docs(evo-icon-button): update stories
  src/stories/components/evo-icon-button.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  81/dd69ac3326fd1acf5ea8aaadcfd9069d302080
Due: none

fix(evo-sidebar-header): update paddings, icons size
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.scss
Due: yarn lint:styles

feat(color-icons): update icons
  projects/evo-ui-kit/src/svg/color-icons/Bill.svg
  projects/evo-ui-kit/src/svg/color-icons/Blank.svg
  projects/evo-ui-kit/src/svg/color-icons/Clock.svg
  projects/evo-ui-kit/src/svg/color-icons/Code.svg
  projects/evo-ui-kit/src/svg/color-icons/Document.svg
  projects/evo-ui-kit/src/svg/color-icons/News.svg
  projects/evo-ui-kit/src/svg/color-icons/Number.svg
  projects/evo-ui-kit/src/svg/color-icons/OK.svg
  projects/evo-ui-kit/src/svg/color-icons/Power.svg
  projects/evo-ui-kit/src/svg/color-icons/Wait.svg
  projects/evo-ui-kit/src/svg/color-icons/Warning.svg
  projects/evo-ui-kit/src/svg/color-icons/Wi-Fi.svg
  src/generated/color-icons.ts
Due: yarn lint:ts

chore(project): bump version to 5.60.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix: rename project for public npm package
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.module.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.module.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.module.ts
  projects/evo-ui-kit/tsconfig.lib.json
  projects/evo-ui-kit/tsconfig.spec.json
  tsconfig.json
Due: yarn lint:ts

chore: bump version to 5.60.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  8c/0d182e60fcc01f207cb40c857b92ba4dbc087e
Due: none

feat(evo-badge): added icon-light color
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-color.ts
Due: yarn lint:ts, yarn lint:styles

chore: bump version to 5.61.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a2/156ac728b54a60937b8891e9e154e5ace06437
Due: none

chore: bump version to 5.62.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

feat(evo-badge): added yellow color
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-color.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-badge): changed yellow to rating
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-color.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  e8/ab1fbbcd06a323d99119bf7b6668594227b8d1
Due: none

chore: bump version to 5.63.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix: peer dependencies
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  a8/bfd58cd43e74b1d5d672791c2d358a89bd0842
Due: none

chore: bump version to 5.63.1
  projects/evo-ui-kit/CHANGELOG.md
Due: none

chore: update package version to 5.63.1
  projects/evo-ui-kit/package.json
Due: none

chore: bump version to 5.63.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-badge): update small badge height
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.scss
Due: yarn lint:styles

docs(evo-badge): add small multiline
  src/stories/components/evo-badge.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  c6/4c959c501e6e3171e0ca850f01f3d7d483683a
Due: none

chore: bump version to 5.63.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-circular-loader): add unique id attr to clip-path
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.html
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  81/f9273dfa2fe4d0dd3efe19319900db7a20e1f3
Due: none

chore: bump version to 5.63.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-control-label): update color
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-form.scss
Due: yarn lint:styles

feat(variables): added a new color
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:styles
