Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

fix(evo-icon): fix merge doubling
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.module.ts
Due: yarn lint:ts

refactor(build) remove link function, replace with native TS capability
  angular.json
  gulpfile.js
  package.json
  tsconfig.json
Due: none

fix(public_api): refactor modules exports
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

fix(evo-textarea): fix module import
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.module.ts
Due: yarn lint:ts

chore(release): 3.0.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

chore(evo-ui-kit): version up
  projects/evo-ui-kit/package.json
Due: none

fix(evo-checkbox): fix module import
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.module.ts
Due: yarn lint:ts

fix(evo-input): fix module import
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
Due: yarn lint:ts

chore(release): 3.0.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(evo-modal): fix module import
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.module.ts
Due: yarn lint:ts

chore(release): 3.0.4 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(icons): lib injection
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.module.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/services/evo-icons.service.ts
Due: yarn lint:ts

fix(icons): lib injection
  projects/evo-ui-kit/src/lib/modules/evo-icon/evo-icon.component.ts
  projects/evo-ui-kit/src/lib/modules/evo-icon/evo-icon.module.ts
  projects/evo-ui-kit/src/lib/modules/evo-icon/services/evo-icons.service.ts
Due: yarn lint:ts

refactor(build) remove import of main.scss and properly change scss path
  angular.json
  src/stories/components/evo-control-label.stories.ts
  src/stories/components/evo-icon.stories.ts
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.scss
  src/stories/components/evo-table-wrapper/evo-table-wrapper.component.scss
  src/stories/components/evo-toast-wrapper/evo-toast-wrapper.component.ts
  src/stories/layout/evo-card.stories.ts
  src/stories/layout/grid.stories.ts
  src/stories/typography/colors.scss
  src/stories/typography/colors.stories.ts
  src/stories/typography/evo-link.stories.ts
  src/stories/typography/evo-list.stories.ts
  src/stories/typography/evo-title.stories.ts
Due: yarn lint:ts, yarn lint:styles

chore(scripts): add test-watch script, prevent watch on `yarn test`
  package.json
Due: none

fix(worklow): fix after merge
  .github/main.workflow
  package-lock.json
  package.json
  projects/evo-ui-kit/karma.conf.js
Due: none

chore: added basic codeowners list
  .github/CODEOWNERS
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

refactor(testing): refactor test imports
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radio-group/evo-radio-group.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar/evo-segmented-bar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/components/evo-switcher-item/evo-switcher-item.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-column/evo-table-column.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
Due: yarn lint:ts

refactor(public_api): refactor exports
  projects/evo-ui-kit/src/lib/decorators/index.ts
  projects/evo-ui-kit/src/lib/decorators/public-api.ts
  projects/evo-ui-kit/src/lib/directives/index.ts
  projects/evo-ui-kit/src/lib/directives/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

chore: update codeowners
  .github/CODEOWNERS
Due: none

docs(codeowners): updated list
  .github/CODEOWNERS
Due: none

fix(worklow): fix after merge
  .github/main.workflow
  package-lock.json
  package.json
Due: none

fix(evo-button): change styles based on ui kit design
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
Due: yarn lint:styles

feat(evo-datepicker): added description and changed sidebar icons
  projects/evo-ui-kit/src/assets/icons/chevron-left.svg
  projects/evo-ui-kit/src/assets/icons/close.svg
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
Due: yarn lint:ts, yarn lint:styles

chore(release): 2.8.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(evo-input): change input paddings based on ui design
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: yarn lint:styles

fix(evo-input): fix autofocus and custom tooltip work
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

fix(evo-button): change button font-weight for small and large sizes
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
Due: yarn lint:styles

fix(icons): +library export
  gulpfile.js
  projects/evo-ui-kit/src/lib/modules/evo-icon/evo-icon.module.ts
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.ts
Due: yarn lint:ts

chore(release): 2.8.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

refactor(evo-sidebar): connected evoIconModule
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
  projects/evo-ui-kit/src/lib/evo-ui-kit.module.ts
Due: yarn lint:ts, yarn lint:styles

test(evo-radioshape): unit tests
  projects/evo-ui-kit/src/lib/modules/evo-radioshape/components/evo-radioshape.component.spec.ts
Due: yarn lint:ts

fix(select): +error messages
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.html
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.scss
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
  src/stories/components/evo-select.stories.ts
  yarn.lock
Due: yarn lint:ts, yarn lint:styles

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
