Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

feat(upload): wip extend upload
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/index.html
Due: yarn lint:ts, yarn lint:styles

feat(upload): wip
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/styles.scss
Due: yarn lint:ts, yarn lint:styles

chore(project): version up
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

refactor(evo-modal): remove unused imports
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: yarn lint:ts

feat(upload): wip specs
  .storybook/webpack.config.js
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  src/app/app.component.html
  src/stories/components/evo-upload.stories.ts
Due: yarn lint:ts, yarn lint:styles

chore(release): 3.24.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(upload): +few tests
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/stories/components/evo-upload.stories.ts
Due: yarn lint:ts

fix(evo-plus-minus): fix icon sizes
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.html
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.scss
Due: yarn lint:styles

fix(upload): requested changes
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  src/app/app.component.ts
  src/stories/components/evo-upload.stories.ts
Due: yarn lint:ts

fix(upload): earlyValidation on drop event
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

test(upload): few specs added
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
Due: yarn lint:ts

fix(upload): merge errors on earlyValidation
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

test(upload): +few specs
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
Due: yarn lint:ts

fix(public_api): export apis from common folder
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

feat(icons-src): added location icon
  projects/evo-ui-kit/src/lib/icons-src/System/Location_24px.svg
Due: none

docs(project): update readme
  README.md
Due: none

chore(project): update release script
  package.json
Due: none

chore(project): version up 3.26.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(stepper): wip new features
  .storybook/webpack.config.js
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.html
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.scss
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.ts
  src/stories/components/evo-stepper.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(upload): output new files on drop event
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

test(stepper): +few specs
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.html
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.scss
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
Due: yarn lint:ts, yarn lint:styles

feat(icons-src): added sync icons
  projects/evo-ui-kit/src/lib/icons-src/System/Sync-Problem_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Sync_24px.svg
Due: none

fix(gh-actions): pull request
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
Due: none

chore(project): version up 3.28.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(stepper): removed setTimout
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.ts
Due: yarn lint:ts

chore(evo-ui-kit): version up
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

Remove old certificate
  wc.market.local.bundle.pem
Due: none

feat(evo-datepicker): added single value handling in the range
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
Due: yarn lint:ts

chore(project): version up 3.30.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-checkbox): indeterminate state + empty label fix
  projects/evo-ui-kit/src/assets/icons/checkbox-check.svg
  projects/evo-ui-kit/src/assets/icons/checkbox-indeterminate.svg
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.html
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-checkbox): fix ng8 cherrypick
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.ts
Due: yarn lint:ts

style(evo-checkbox): fix styles order
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles
