Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

test(portal): +specs
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal-outlet.class.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal-outlet.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.module.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
Due: yarn lint:ts

fix(evo-input): replace icon, update small sizes
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.html
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-icon): add small-size stories
  src/assets/scss/story-global.scss
  src/stories/components/evo-input.stories.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  2e/e29d62ecd2ce26e360fc1c4c681ecd2c6849ac
Due: none

fix(evo-input): fix styles
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  c2/d39ca57ce7cc945c5bc30cfa35f1b73342620e
Due: none

chore(project): bump version to 5.37.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(icons): add services icon
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Services.svg
Due: none

Notes added by 'git notes add'
  15/d5aecefb66a421e19694469a6af786f9119f66
Due: none

chore(project): bump version to 5.38.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(project): update yarn.lock
  yarn.lock
Due: none

feat(dadata): add some fields to model
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/models/DaDataParty.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  02/06da11b66a87abeab4377009ec91556da71c67
Due: none

chore(project): bump version to 5.39.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(ng-select): bump @ng-select to 6.1.0
  package.json
  projects/evo-ui-kit/package.json
  yarn.lock
Due: none

feat(evo-input): eject mixins
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:ts, yarn lint:styles

feat(evo-icon): replace delete icon
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Delete_24px.svg
Due: none

feat(evo-autocomplete): themes, selectbox mode, states, templates (wip)
  projects/evo-ui-kit/src/assets/icons/dropdown.svg
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/styles/mixins.scss
Due: yarn lint:ts, yarn lint:styles

feat(evo-autocomplete): add themes, selectbox mode, states (wip)
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-autocomplete): icon import fix
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
Due: yarn lint:ts

feat(evo-autocomplete): add themes, selectbox mode, states (wip)
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-autocomplete): add stories
  src/assets/scss/story-global.scss
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-autocomplete): add stories
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

docs(evo-autocomplete): fix stories
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

feat(icons): copy name to clipboard
  src/stories/components/evo-icon.stories.ts
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.html
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.scss
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-ui): eject spinner, add to evo-autocomplete
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.scss
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-spinner.scss
  projects/evo-ui-kit/src/lib/styles/keyframes.scss
Due: yarn lint:styles

feat(evo-autocomplete): add tests, minor fixes
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts

test(evo-autocomplete): add tests
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.spec.ts
Due: yarn lint:ts

feat(evo-autocomplete): codestyle fix
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts

test(evo-autocomplete): add tests
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.ts
Due: yarn lint:ts

feat(evo-autocomplete): add themes, selectbox mode, states (wip)
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  94/8ef18b2fd5e08b0a02081788a834cd8431ae6b
Due: none

chore(project): bump version to 5.40.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

test(evo-autocomplete): add tests
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
Due: yarn lint:ts

feat(evo-autocomplete): minor changes
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  ae/0c52e72c7de93b895ba50103dea22fbd1bda08
Due: none

chore(project): bump version to 5.41.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

docs(evo-autocomplete): fix docs
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

chore(models): dadata models
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/models/DaDataParty.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/models/dadata.model.ts
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
