Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

chore(docker): node version up
  Dockerfile
Due: none

style(evo-banner): codestyle
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
Due: yarn lint:ts

fix(release): fixed permissions problem in master
  gulpfile.js
  package-lock.json
  package.json
  projects/evo-ui-kit/.releaserc.json
Due: none

chore(release): 2.10.2 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(ci): fixed tests task
  gulpfile.js
  package-lock.json
  package.json
Due: none

chore(release): 2.11.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-select): fix missing imports
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.module.ts
  src/stories/components/evo-select.stories.ts
Due: yarn lint:ts

fix(evo-sidebar): fix missing imports
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
Due: yarn lint:ts

fix(evo-sidebar): fix icon imports
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
Due: yarn lint:ts

docs(evo-sidebar): add backButton story
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.html
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.ts
  src/stories/components/evo-sidebar.stories.ts
Due: yarn lint:ts

test(evo-radioshape): fix test placement
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.spec.ts
Due: yarn lint:ts

chore(release): 3.1.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-select.module): fix import
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.module.ts
Due: yarn lint:ts

chore(yarn.lock): update yarn.lock
  yarn.lock
Due: none

fix(evo-sidebar): fix import
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
Due: yarn lint:ts

docs(evo-icons): fix import
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.ts
Due: yarn lint:ts

chore(release): 3.1.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-modal): added titleText, asyncAccept, keyboard close event
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.module.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-modal): update service
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.service.ts
Due: yarn lint:ts

feat(evo-modal): modal animation
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-modal): add stories
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.html
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.ts
  src/stories/components/evo-modal.stories.ts
Due: yarn lint:ts

feat(evo-modal): fix offsets
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.scss
Due: yarn lint:styles

chore(package): add karma
  package.json
  yarn.lock
Due: none

chore(package): fix packages
  package.json
  yarn.lock
Due: none

feat(evo-modal): add button classes
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.html
Due: none

test(evo-modal): add modal tests
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
Due: yarn lint:ts

feat(evo-modal): fix declineText check
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: yarn lint:ts

test(evo-modal): update modal tests
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
Due: yarn lint:ts

chore(package): fix dependencies
  package.json
Due: none

feat(evo-modal): disable closing modal on async fail
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.ts
Due: yarn lint:ts

docs(evo-modal): update story
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.html
  src/stories/components/evo-modal-wrapper/evo-modal-wrapper.component.ts
Due: yarn lint:ts

feat(evo-paginator): fix white color
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.scss
Due: yarn lint:styles

refactor(evo-paginator): fix evo-paginator structure for v3
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.html
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.scss
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.module.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/index.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-paginator.stories.ts
Due: yarn lint:ts, yarn lint:styles

chore(release): remove git plugin from prepare step
  projects/evo-ui-kit/.releaserc.json
Due: none

chore(release): 3.2.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(gulp): remove createSymLink()
  gulpfile.js
Due: none

feat(modules): ng8 fixes
  package.json
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.spec.ts
  yarn.lock
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
