Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

chore(ng): update to ng@10
  package.json
Due: none

chore(package): node-sass to sass migration
  package.json
Due: none

chore(ng): update to ng@11 (wip)
  package.json
Due: none

chore(ng): update to ng@11 (wip)
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/templates/evo-autocomplete-default-option.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-plus-minus/evo-plus-minus.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-portal/evo-portal.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radioshape/components/evo-radioshape.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/components/evo-switcher-item/evo-switcher-item.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-switcher/evo-switcher.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-column/evo-table-column.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-textarea/evo-textarea.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.spec.ts
  projects/evo-ui-kit/src/lib/directives/evo-ui-class.directive.spec.ts
Due: yarn lint:ts

chore(ng): update to ng@11 (wip)
  angular.json
  package.json
  projects/evo-ui-kit/tsconfig.lib.json
  projects/evo-ui-kit/tsconfig.lib.prod.json
  tsconfig.json
Due: none

chore(ng): update to ng@12 (wip)
  package.json
Due: none

chore(ng): update to ng@12 (wip)
  .gitignore
  angular.json
  package-lock.json
  package.json
  projects/evo-ui-kit/src/test.ts
  projects/evo-ui-kit/tsconfig.lib.json
  src/environments/environment.ts
  src/polyfills.ts
  tsconfig.json
Due: yarn lint:ts

chore(storybook): storybook@6
  .storybook/addons.js
  .storybook/config.js
  .storybook/main.js
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  .storybook/webpack.config.js
  angular.json
  package-lock.json
  package.json
  projects/evo-ui-kit/tsconfig.lib.json
  src/app/app.component.html
  src/app/app.module.ts
  src/stories/components/evo-select.stories.ts
  src/stories/typography/colors.stories.ts
Due: yarn lint:ts

fix(evo-autocomplete): fix imports
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/public-api.ts
Due: yarn lint:ts

fix(styles): fix sass division
  projects/evo-ui-kit/src/lib/components/evo-segmented-bar/evo-segmented-bar-button/evo-segmented-bar-button.component.scss
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: yarn lint:styles

chore(storybook): storybook@6
  .storybook/preview-head.html
  .storybook/tsconfig.json
  angular.json
  gulpfile.js
  package-lock.json
  package.json
  projects/evo-ui-kit/tsconfig.lib.prod.json
Due: none

chore(storybook): storybook knobs alternative
  src/assets/scss/colors.scss
  src/stories/components/evo-select.stories.ts
  src/stories/layout/evo-form.stories.ts
  src/stories/typography/colors.scss
  src/stories/typography/colors.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-tabs): move evo-tabs-size into separated file
  projects/evo-ui-kit/src/lib/components/evo-tabs/enums/evo-tabs-size.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/public-api.ts
Due: yarn lint:ts

fix(evo-tabs): fix evo-tabs-size import
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs-size.service.ts
Due: yarn lint:ts

feat(package): package-lock for node@16
  package-lock.json
Due: none

fix(package): fix test:ci script
  package.json
Due: none

chore(actions): fix pull_request action
  .github/workflows/pull_request.yml
Due: none

chore(package): gulp fix + ng-package redundant attr fix
  package.json
  projects/evo-ui-kit/ng-package.json
  projects/evo-ui-kit/ng-package.prod.json
Due: none

chore(actions): try to fix gulp
  .github/workflows/pull_request.yml
Due: none

chore(actions): try to fix gulp
  package.json
Due: none

chore(actions): try to fix gulp
  .github/workflows/pull_request.yml
  package.json
Due: none

chore(package): remove @evo/front-tools-config
  .github/workflows/pull_request.yml
  .stylelintrc
  package-lock.json
  package.json
  tslint.json
Due: none

chore(tsconfig): remove ivy compilation disabling
  projects/evo-ui-kit/tsconfig.spec.json
Due: none

chore(actions): try to fix tests
  package.json
Due: none

chore(actions): try to fix tests
  .github/workflows/pull_request.yml
Due: none

chore(actions): try to fix tests
  package-lock.json
  package.json
  projects/evo-ui-kit/karma.conf.js
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.module.ts
  src/karma.conf.js
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
