Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

docs(evo-autocomplete): update docs
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

fix(evo-upload): support control validators in high level component
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

feat(evo-upload): support evo-control-error
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.module.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-upload): extend to small type
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload-description/evo-upload-description.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.module.ts
Due: yarn lint:ts, yarn lint:styles

chore(evo-upload): warn message
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
Due: yarn lint:ts

fix(evo-upload): review notes
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload-description/evo-upload-description.directive.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload-label/evo-upload-label.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload-label/evo-upload-label.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload-label/evo-upload-label.component.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.scss
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.component.ts
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload.module.ts
Due: yarn lint:ts, yarn lint:styles

refactor(evo-upload): add last empty line
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload-label/evo-upload-label.component.html
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload-label/evo-upload-label.component.scss
Due: yarn lint:styles

refactor(evo-upload-label): remove duplicate import
  projects/evo-ui-kit/src/lib/components/evo-upload/evo-upload-label/evo-upload-label.component.ts
Due: yarn lint:ts

feat(evo-tabs): support activation by router link and query
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.module.ts
Due: yarn lint:ts

feat(evo-select): add number value support
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.html
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
Due: yarn lint:ts

docs(evo-tabs): add link tabs stories
  src/stories/components/evo-tabs.stories.ts
Due: yarn lint:ts

feat(evo-select): add tests
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
Due: yarn lint:ts

feat(evo-select): add OnPush support
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
Due: yarn lint:ts

feat(evo-select): remove unnecessary change detection call
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
Due: yarn lint:ts

fix(dadata-model): public api export
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/public-api.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  dc/3b6b30b4db5f0508a1b6e328e80cf481312e0e
Due: none

chore(project): bump version to 5.41.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(icons): add accounting side-menu icon
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Accounting-nav.svg
Due: none

Notes added by 'git notes add'
  1d/c97269db007be2c3e72afe602be3f3ccca3c26
Due: none

chore(project): bump version to 5.41.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-autocomplete): patch clear button with iconDecline svg
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/evo-autocomplete.module.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-autocomplete): fix clear button blinking
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-autocomplete): update story
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  3e/d4121a830de9764ffadc32088f88801038f0c6
Due: none

chore(project): bump version to 5.41.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(stepper): handle labels updates
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper-item/evo-stepper-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.ts
Due: yarn lint:ts

test(stepper): +few specs
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
Due: yarn lint:ts

fix(stepper): reworked with tiny events class
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper-events.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper-item/evo-stepper-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.ts
Due: yarn lint:ts

fix(stepper): -constructor from events service
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper-events.ts
Due: yarn lint:ts

feat(stepper): onpush strategy support
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.ts
Due: yarn lint:ts

fix(stepper): list with async pipe
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper-events.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.html
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  2a/b9f68443b0cc28ed01cb2951314c3db39b86c5
Due: none

chore(project): bump version to 5.42.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(stepper): steps list async pipe moved
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.html
Due: none

fix(stepper): detect changes after view init
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  f8/92c03cc18a100ff222f95b95ba37e1d5eaefce
Due: none

chore(project): bump version to 5.42.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-control-label): fix pointer
  projects/evo-ui-kit/src/lib/components/evo-control-label/evo-control-label.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  3f/7e62d0108c93b2b1fc0b815df36ae69b10b289
Due: none

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
