Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

chore(project): bump version to 5.42.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(color-icons): add new color icons + fix generator
  projects/evo-ui-kit/src/svg/color-icons/Data Matrix Znak.svg
  projects/evo-ui-kit/src/svg/color-icons/Traffic Light Green.svg
  projects/evo-ui-kit/src/svg/color-icons/Traffic Light Red.svg
  projects/evo-ui-kit/src/svg/color-icons/Traffic Light Yellow.svg
  scripts/gulp-icons-build.js
  src/generated/color-icons.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  42/c3af6abed6b9786d275b35b24b836b320d28c0
Due: none

chore(project): bump version to 5.42.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

docs(evo-tabs): add stories
  src/stories/components/evo-tabs.stories.ts
Due: yarn lint:ts

fix(evo-tabs): correct processing router link
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.module.ts
Due: yarn lint:ts

test(evo-tabs): spec for link tabs
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
Due: yarn lint:ts

fix(evo-tabs): fix spec
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  1d/0b95d7e1e8532c3db0c7ca07dbe3ec2c9167ea
Due: none

chore(project): bump version to 5.43.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-tab): init tab by url for async load parent
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  96/d8814246e14aae877f7dc171a4bdcafc21c325
Due: none

chore(project): bump version to 5.43.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

chore(github): update codeowners list
  .github/CODEOWNERS
Due: none

feat(evo-autocomplete): support ng-multi-label-tmp
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts

docs(evo-autocomplete): add story for overal multiple selected
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

refactor(evo-autocomplete): correct comment
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

refactor(evo-autocomplete): nano fixes
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.html
  src/stories/components/evo-autocomplete.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  0a/78876a545248ffacef72757cfa6a156a76b314
Due: none

chore(project): bump version to 5.44.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(serializable): add proper modifiers
  projects/evo-ui-kit/src/lib/common/Serializable.ts
Due: yarn lint:ts

feat(collection, collection-fabric): add abstract collection fabric
  projects/evo-ui-kit/src/lib/common/collection/EvoCollcetionFabric.ts
  projects/evo-ui-kit/src/lib/common/collection/EvoCollection.ts
Due: yarn lint:ts

fix(collection-fabric): change construct signature for future support
  projects/evo-ui-kit/src/lib/common/collection/EvoCollcetionFabric.ts
Due: yarn lint:ts

fix(autocomplete): markforcheck on touched state changed
  .editorconfig
  projects/evo-ui-kit/src/lib/common/evo-control-touched-state.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.scss
Due: yarn lint:ts, yarn lint:styles

feat(form helper): force status change for cd
  projects/evo-ui-kit/src/lib/common/evo-control-touched-state.ts
  projects/evo-ui-kit/src/lib/common/form-helper/form-helper.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  75/97bef5554b52930340d1ce0cb0027e9cfa0bf9
Due: none

chore(project): bump version to 5.45.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

ci(notify): add notify-telegram script
  .github/workflows/scripts/notify-telegram.sh
Due: none

ci(notify): add workflow
  .github/workflows/release.yml
Due: none

fix(evo-paginator): fix last pages bug
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.ts
Due: yarn lint:ts

fix(evo-paginator): rebuild pages list on currentPage input
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.ts
Due: yarn lint:ts

test(evo-paginator): add tests for page numbers
  projects/evo-ui-kit/src/lib/components/evo-paginator/evo-paginator.component.spec.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  8b/a9c82187776dca368fc8685df5c2bf6a0e406d
Due: none

chore(project): bump version to 5.45.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

build(ci): update sonar exclusions
  .github/workflows/pull_request.yml
  .github/workflows/push_master.yml
Due: none

build(ci): sonar config
  .github/workflows/pull_request.yml
Due: none

Notes added by 'git notes add'
  0f/d4447d903457d706dc3caaec5924b45d734a6a
Due: none

chore(project): bump version to 5.46.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

build(ci): update sonar exclusions
  .github/workflows/push_master.yml
Due: none
