Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

refactor(evo-tabs): remove navigation using arrow buttons
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

refactor(evo-tabs): add tabsRef input to tabs-content
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

refactor(evo-tabs): code style
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
Due: yarn lint:ts

refactor(evo-tabs): remove tabs-content styles file
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.css
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
Due: yarn lint:ts

fix(evo-tabs): change split marker in tabsRef
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
Due: yarn lint:ts

fix(evo-toast-service): change emitter to subject
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.ts
Due: yarn lint:ts

feat(evo-datepicker): added time selectors
  package.json
  projects/evo-ui-kit/src/assets/icons/.DS_Store
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  src/stories/components/evo-datepicker.stories.ts
  yarn.lock
Due: yarn lint:ts, yarn lint:styles

fix(evo-toast): change emit to subject next method
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.service.ts
Due: yarn lint:ts

chore(release): 3.8.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-tabs): add stories
  src/stories/components/evo-tabs.stories.ts
Due: yarn lint:ts

feat(evo-tabs): adding tabs from outside
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

refactor(evo-tabs): adding tabs from outside
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

refactor(evo-tabs): make tabsState$ private
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

Revert "refactor(evo-tabs): make tabsState$ private"
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

fix(evo-tabs): change click handler name
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
Due: yarn lint:ts

fix(evo-tabs): redundant logic
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

fix(evo-tabs): code style
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
Due: none

feat(icons): multi providers
  projects/evo-ui-kit/src/lib/components/evo-icon/classes/evo-icons-library.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.module.ts
Due: yarn lint:ts

chore(release): 3.9.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-datepicker): full time logic
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  src/stories/components/evo-datepicker.stories.ts
Due: yarn lint:ts, yarn lint:styles

refactor(evo-datepicker): cleaning
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  projects/evo-ui-kit/src/lib/components/evo-datepicker/templates/index.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-datepickers): added stories
  package.json
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  src/stories/components/evo-datepicker.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-datepicker): add evo-control-label
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.html
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.module.ts
Due: yarn lint:ts

fix(evo-tabs): refactor checking if tab selected
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
Due: yarn lint:ts

fix(evo-tabs): evo-tab-content throws error when no group id or tab id
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
Due: yarn lint:ts

fix(evo-tabs): evo-tab-content private props
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
Due: yarn lint:ts

fix(evo-tabs): simplify evo-tab styles
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.scss
Due: yarn lint:styles

refactor(icons): removed .DS_Store
  projects/evo-ui-kit/src/assets/icons/.DS_Store
Due: none

fix(evo-tabs): simplify evo-tabs styles
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.scss
Due: yarn lint:styles

refactor(evo-tabs): refactor
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

refactor(evo-tabs): refactor
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
Due: yarn lint:ts

refactor(evo-tabs): refactor
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
Due: yarn lint:ts

refactor(evo-tabs): rename attributes
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

refactor(evo-tabs): rename attributes
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

feat(evo-datepicker): added styles for month selector
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
  yarn.lock
Due: yarn lint:styles

refactor(evo-datepicker): added color variables
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.scss
Due: yarn lint:styles

chore(release): 3.10.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-tabs): refresh tab subscription only if group changes
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
Due: yarn lint:ts

fix(evo-tabs): change tabs service workflow
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab/evo-tab.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.html
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

feat(evo-tabs): integrate distinctUntilChanged for tab
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-content/evo-tab-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.service.ts
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
