Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

feat(evo-sidebar): add onpush support
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  e4/2e567d58dca2ec3b938bcbc827c418a4d6d546
Due: none

chore(project): bump version to 5.57.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(dadata): added more fields
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/models/dadata.model.ts
Due: yarn lint:ts

feat(evo-button): eject button styles into mixins
  projects/evo-ui-kit/src/lib/components/evo-button/assets/evo-button-colors.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/evo-button-shapes.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/evo-button-sizes.scss
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
Due: yarn lint:styles

feat(evo-button): eject configs into maps
  projects/evo-ui-kit/src/lib/components/evo-button/constants/evo-button-old-styles-map.ts
  projects/evo-ui-kit/src/lib/components/evo-button/constants/evo-button-themes-map.ts
  projects/evo-ui-kit/src/lib/components/evo-button/enums/evo-button-sizes.ts
  projects/evo-ui-kit/src/lib/components/evo-button/enums/evo-button-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/public-api.ts
Due: yarn lint:ts

feat(evo-counter): set host display style
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
Due: yarn lint:styles

fix(evo-button): fix component selectors, add a[evoButton]
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
Due: yarn lint:ts

fix(app): clean demo component
  src/app/app.component.html
  src/app/app.module.ts
Due: yarn lint:ts

docs(evo-button): update story
  src/stories/components/evo-button.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  90/fa36a783750760fba3f3c76451f3d287e81b15
Due: none

feat(evo-input-contenteditable): add new component
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
  projects/evo-ui-kit/src/lib/components/evo-control-error/evo-control-error.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.module.ts
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/index.ts
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
Due: yarn lint:ts, yarn lint:styles

feat(evo-input-contenteditable): remove redundant method overload
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.ts
Due: yarn lint:ts

chore(project): bump version to 5.58.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

Revert "Feature/EVUIK-157"
  projects/evo-ui-kit/src/lib/components/evo-button/assets/evo-button-colors.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/evo-button-shapes.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/evo-button-sizes.scss
  projects/evo-ui-kit/src/lib/components/evo-button/constants/evo-button-old-styles-map.ts
  projects/evo-ui-kit/src/lib/components/evo-button/constants/evo-button-themes-map.ts
  projects/evo-ui-kit/src/lib/components/evo-button/enums/evo-button-sizes.ts
  projects/evo-ui-kit/src/lib/components/evo-button/enums/evo-button-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-button/index.ts
  projects/evo-ui-kit/src/lib/components/evo-button/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-color.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-shape.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-size.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-theme.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/index.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.html
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.module.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
  src/app/app.component.scss
  src/app/app.module.ts
  src/stories/components/evo-button.stories.ts
  src/stories/components/evo-loader.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evo-button): revert new buttons
  projects/evo-ui-kit/src/lib/components/evo-button/assets/evo-button-colors.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/evo-button-shapes.scss
  projects/evo-ui-kit/src/lib/components/evo-button/assets/evo-button-sizes.scss
  projects/evo-ui-kit/src/lib/components/evo-button/constants/evo-button-old-styles-map.ts
  projects/evo-ui-kit/src/lib/components/evo-button/constants/evo-button-themes-map.ts
  projects/evo-ui-kit/src/lib/components/evo-button/enums/evo-button-sizes.ts
  projects/evo-ui-kit/src/lib/components/evo-button/enums/evo-button-styles.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-button/evo-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-button/index.ts
  projects/evo-ui-kit/src/lib/components/evo-button/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-color.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-shape.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-size.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/evo-button-theme.ts
  projects/evo-ui-kit/src/lib/components/evo-button/types/index.ts
  projects/evo-ui-kit/src/lib/components/evo-counter/evo-counter.component.scss
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.html
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.scss
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-circular-loader.component.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/evo-loader.module.ts
  projects/evo-ui-kit/src/lib/components/evo-loader/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-button.scss
  src/app/app.component.scss
  src/app/app.module.ts
  src/stories/components/evo-button.stories.ts
  src/stories/components/evo-loader.stories.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  b1/38dd4c60f6e99cb106cee42b868e1cbb061453
Due: none

chore(project): bump version to 5.58.1
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(evo-popover): set default properties
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  06/6cbf9b8cf23ebcbc5dd1cbf5ac768f80376ea0
Due: none

chore(project): bump version to 5.58.2
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(monochrome-icons): update icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Header/Cart_24px.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Shop_24px.svg
Due: none

fix(monochrome-icons): replace icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Header/Cart_24px.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Shop_24px.svg
Due: none

Notes added by 'git notes add'
  55/da7d19ecce8e22af8da1b5089b61f34682d486
Due: none

chore(project): bump version to 5.58.3
  projects/evo-ui-kit/CHANGELOG.md
Due: none

feat(evo-input-contenteditable): move scroll hide into mixin
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.scss
  projects/evo-ui-kit/src/lib/styles/mixins.scss
Due: yarn lint:styles

feat(evo-input-contenteditable): rename prop, replace null
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.scss
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-base-control): rename autofocus
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
Due: yarn lint:ts

feat(evo-input-contenteditable): add disabled prop and on blur event
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.ts
Due: yarn lint:ts

feat(evo-input-contenteditable): add stories
  src/stories/components/evo-input-contenteditable.stories.ts
Due: yarn lint:ts

feat(evo-input-contenteditable): add preventing style hotkeys
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.html
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.ts
Due: yarn lint:ts

feat(evo-input-contenteditable): add story with styling prevention
  src/stories/components/evo-input-contenteditable.stories.ts
Due: yarn lint:ts

feat(evo-input-contenteditable): remove basic specs
  projects/evo-ui-kit/src/lib/components/evo-input-contenteditable/evo-input-contenteditable.component.spec.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  51/f583e6e6e077db8953db0b24651bea26b373cd
Due: none

chore(project): bump version to 5.59.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix: update public_api
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  a2/90235ff44833f386a23eb47287638abe4a6e33
Due: none

chore(project): bump version to 5.59.1
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(gulp-icons-build): fix iconsExport
  scripts/gulp-icons-build.js
Due: none

fix(autocomplete): fix selected background
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.component.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/evo-badge.module.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-color.ts
  projects/evo-ui-kit/src/lib/components/evo-badge/types/evo-badge-size.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.scss
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.scss
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.scss
  src/stories/components/evo-table-dynamic-columns/evo-table-dynamic-columns.component.scss
Due: yarn lint:ts, yarn lint:styles
