Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

fix(icon): fix for AOT
  projects/evo-ui-kit/src/lib/modules/evo-icon/evo-icon.component.ts
  projects/evo-ui-kit/src/lib/modules/evo-icon/evo-icon.module.ts
  src/stories/components/evo-icon.stories.ts
Due: yarn lint:ts

fix(components): tests
  projects/evo-ui-kit/src/lib/components/evo-alert/evo-alert.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.module.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.module.ts
Due: yarn lint:ts

fix(icon): +forChild method
  projects/evo-ui-kit/src/lib/modules/evo-icon/evo-icon.module.ts
Due: yarn lint:ts

chore(release): 2.6.3 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

chore(commitlint): use conventional comitlint config
  commitlint.config.js
Due: none

feat(evo-table): added themes
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table.component.ts
  src/stories/components/evo-table.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(evoUiClass) make directive angular 8 compatible
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/directives/evo-ui-class.directive.ts
Due: yarn lint:ts

refactor(scripts): removed harcoded path to tslint bin
  package.json
Due: none

fix(icons): icons library
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.module.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/public-api.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/services/evo-icons.service.ts
  src/stories/components/evo-icons-wrapper/evo-icons-wrapper.component.ts
Due: yarn lint:ts

fix(kit module): directives import
  projects/evo-ui-kit/src/lib/evo-ui-kit.module.ts
Due: yarn lint:ts

fix(select): disabled styles
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.scss
Due: yarn lint:styles

chore(release): 2.6.4 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

chore(evo-ui-kit): version up
  README.md
  projects/evo-ui-kit/package.json
  src/stories/components/evo-radio.stories.ts
Due: yarn lint:ts

feat(evo-table): added alignment to the column
  projects/evo-ui-kit/src/lib/components/evo-table-column/evo-table-column.component.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table.component.scss
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table.component.ts
  src/stories/components/evo-table.stories.ts
Due: yarn lint:ts, yarn lint:styles

refactor(evo-table): style refactoring
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table.component.scss
Due: yarn lint:styles

refactor(evo-table): removed viewEncapsulation import
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table.component.ts
Due: yarn lint:ts

chore(release): 2.7.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

chore(evo-ui-kit): version up
  projects/evo-ui-kit/package.json
Due: none

feat(paginator) introduce paginator component
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.html
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.scss
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.spec.ts
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.component.ts
  projects/evo-ui-kit/src/lib/modules/evo-paginator/evo-paginator.module.ts
  projects/evo-ui-kit/src/lib/modules/evo-paginator/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
  src/stories/components/evo-paginator.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(icons): icons ext changed to js
  .gitignore
  gulpfile.js
  icons-build.js
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Chevron-Left_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Chevron-Right_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Side Menu/Combined_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Side Menu/Wallet_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Doc_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Download_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Star_Border_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Upload_24px.svg
  projects/evo-ui-kit/src/lib/icons/header/index.ts
  projects/evo-ui-kit/src/lib/icons/index.ts
  projects/evo-ui-kit/src/lib/icons/info/index.ts
  projects/evo-ui-kit/src/lib/icons/navigation/index.ts
  projects/evo-ui-kit/src/lib/icons/side-menu/index.ts
  projects/evo-ui-kit/src/lib/icons/system/index.ts
Due: yarn lint:ts

fix(evo-autocomplete): ignore ts typecheck due rxjs
  package-lock.json
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
Due: yarn lint:ts

fix(evo-icons): fix deleted service
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.module.ts
  projects/evo-ui-kit/src/lib/components/evo-icon/services/evo-icons.service.ts
Due: yarn lint:ts

fix(evo-icons): fix paths after merge
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
Due: yarn lint:styles

chore(release): 3.0.0 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(icons): icons bundle with ng-packagr
  .gitignore
  gulpfile.js
  icons-build.js
  projects/evo-ui-kit/src/lib/components/evo-icon/evo-icon.module.ts
  src/stories/components/evo-icon.stories.ts
Due: yarn lint:ts

fix(icons): icons bundle with ng-packagr
  .gitignore
  gulpfile.js
  icons-build.js
  src/stories/components/evo-icon.stories.ts
Due: yarn lint:ts

chore(package): upper flatpickr version
  package.json
  projects/evo-ui-kit/package.json
  yarn.lock
Due: none

docs(evo-datepicker): remove unused imports
  src/stories/components/evo-control-error.stories.ts
  src/stories/components/evo-datepicker.stories.ts
Due: yarn lint:ts

fix(pacakge): add ng-select to dependencies
  projects/evo-ui-kit/package.json
Due: none

chore(release): 3.0.1 [skip ci]
  projects/evo-ui-kit/CHANGELOG.md
Due: none

fix(icons): import path
  .gitignore
  icons-build.js
  src/stories/components/evo-icon.stories.ts
Due: yarn lint:ts

feat(gh-actions): try it
  .github/main.workflow
Due: none

fix(evoUiClass) make directive angular 8 compatible
  projects/evo-ui-kit/package.json
  projects/evo-ui-kit/src/lib/directives/evo-ui-class.directive.spec.ts
  projects/evo-ui-kit/src/lib/directives/evo-ui-class.directive.ts
Due: yarn lint:ts

refactor(package) update angular to 8 version
  package.json
  projects/evo-ui-kit/src/lib/common/evo-base-control.ts
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-datepicker/evo-datepicker.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-select/evo-select.component.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper-item/evo-stepper-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-stepper/evo-stepper.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-submenu/evo-submenu.component.ts
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table-column/evo-table-column.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tab-item/evo-tab-item.component.ts
  projects/evo-ui-kit/src/lib/components/evo-tabs/evo-tabs.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toggle/evo-toggle.component.spec.ts
  yarn.lock
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
