Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

.lintstagedrc:

{
  "linters": {
    "*.ts": ["yarn lint:ts", "git add"],
    "*.scss": ["yarn lint:styles", "git add"]
  },
  "ignore": ["**/dist/**"]
}

Notes added by 'git notes add'
  08/dc95b44682959456f994cbf9b145d33e1d4af5
Due: none

chore: bump version to 5.64.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(monochrome-icons): add icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Info/Web_24px.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Support_24px.svg
Due: none

fix(icons): fix svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Info/Web.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Side Menu/Support.svg
Due: none

Notes added by 'git notes add'
  aa/e34b4883b8cf73c88cac9d94f6b058d76a1373
Due: none

chore: bump version to 5.65.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-control-states): update border colors
  projects/evo-ui-kit/src/lib/styles/mixins.scss
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:styles

feat(variables): added new shadows
  projects/evo-ui-kit/src/lib/styles/variables.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  9b/3f8d674a36e01b97c4ee8c252d63fca5575ad1
Due: none

chore: bump version to 5.66.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(mixins): clear code
  projects/evo-ui-kit/src/lib/styles/mixins.scss
Due: yarn lint:styles

feat(evo-autocomplete): remove unused
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.scss
Due: yarn lint:styles

feat(evo-sidebar-footer): update padding
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-footer/evo-sidebar-footer.component.scss
Due: yarn lint:styles

feat(evo-sidebar): add new normal evo-sidebar-size, new icons
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Call_later.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Eye_off.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Incoming_call.svg
Due: yarn lint:ts, yarn lint:styles

fix(evo-sidebar): normal size as fallback
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
Due: yarn lint:ts

fix(icons): add new category icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Barcode.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Calculator.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Courier.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Courier_24px.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Credit Blank.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Folder Outline.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Folder_Outline_24px.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Internet.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Internet_24px.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Law.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Personnel.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Restaurant.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Scissors.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Scissors_24px.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Services Package.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Services.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Shipping.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Terminal Rent.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Transport.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Transport_24px.svg
Due: none

fix(icons): add new system icons
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Book.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Call End.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Call Later.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Call_later.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Check All.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Display Mode.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Drag.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Empty Cart.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Eye Off.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Folder Move.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Goods.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Healing.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Incoming Call.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Location Arrow.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Location Pin.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Mute-1.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Mute.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/OS Version.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Outgoing Call.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Paste.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Pickup Point.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Pin.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Point Up.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Power On.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Route.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Save.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Selected.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Swap.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Unpin.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Video Call.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Wifi.svg
Due: none

fix(icons): clear icons
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Services Package.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/Category/Services.svg
  projects/evo-ui-kit/src/svg/monochrome-icons/System/Terminal_Rent_24px.svg
Due: none

Notes added by 'git notes add'
  4d/55bcbb30183f69177705cbaf34650ea296f2ed
Due: none

feat(evo-checkbox): tab navigation accessibility
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles

chore: bump version to 5.67.0
  projects/evo-ui-kit/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e4/c61743dce447c14b2e0d36c1a19a064a14e3a2
Due: none

chore: bump version to 5.68.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-radio): added a value check
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-radio/evo-radio.component.ts
Due: yarn lint:ts

fix(evo-checkbox): fix input visibility
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles

build: fix icons paths
  projects/evo-ui-kit/src/lib/components/evo-autocomplete/components/evo-autocomplete.component.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.module.ts
  projects/evo-ui-kit/tsconfig.lib.json
Due: yarn lint:ts

build: remove redundant configs
  angular.json
  projects/evo-ui-kit/ng-package.prod.json
  projects/evo-ui-kit/tsconfig.lib.prod.json
Due: none

build: remove excessive dependencies
  projects/evo-ui-kit/package.json
Due: none

build: angular peer version up
  projects/evo-ui-kit/package.json
Due: none

build: node version up
  package-lock.json
  package.json
Due: none

build: strict engine version
  .npmrc
  package-lock.json
  package.json
Due: none

build: ng-package fix
  projects/evo-ui-kit/ng-package.json
Due: none

build: rearrange and clean dependencies
  package-lock.json
  package.json
Due: none

build: disable ivy
  gulpfile.js
  projects/evo-ui-kit/tsconfig.lib.json
Due: none

feat(color-icons): new number icons
  projects/evo-ui-kit/src/svg/color-icons/Number-2.svg
  projects/evo-ui-kit/src/svg/color-icons/Number-3.svg
  src/generated/color-icons.ts
Due: yarn lint:ts

fix(evo-checkbox): fix native input visibility
  projects/evo-ui-kit/src/lib/components/evo-checkbox/evo-checkbox.component.scss
Due: yarn lint:styles

fix: minor
  src/generated/color-icons.ts
Due: yarn lint:ts
