Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  5fd0fe185724a47028c8ddde47c58b46c04695c1
Due: none

chore(project): version up 5.19.3
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(evo-chip): component improvements + tests
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.scss
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: yarn lint:ts, yarn lint:styles

fix(evo-chip): transition optimization
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: yarn lint:styles

docs(evo-chip): add reactive forms story
  src/stories/components/evo-chip.stories.ts
Due: yarn lint:ts

fix(evo-table): remove table-row borders
  projects/evo-ui-kit/src/lib/styles/components/evo-table.scss
Due: yarn lint:styles

fix(evo-table): remove evo-table-row borders
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  3f4f61824a0d7495811343a9422d32d099bb4702
Due: none

chore(project): version up 5.19.4
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-chip): remove debug
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
Due: yarn lint:ts

fix(evo-chip): remove redundant field
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
Due: yarn lint:ts

fix(evo-chip): fix values handling
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
Due: yarn lint:ts

docs(evo-chip): add story case
  src/stories/components/evo-chip.stories.ts
Due: yarn lint:ts

feat(evo-chip): add closable option and label type
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.html
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: yarn lint:ts, yarn lint:styles

test(evo-chip): add tests
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
Due: yarn lint:ts

fix(evo-chip): fix import
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.module.ts
Due: yarn lint:ts

fix(evo-chip): remove redundant imports
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.ts
Due: yarn lint:ts

feat(evo-chip): close style updates
  projects/evo-ui-kit/src/lib/styles/components/evo-chip.scss
Due: yarn lint:styles

docs(evo-chip): add label story
  src/stories/components/evo-chip.stories.ts
Due: yarn lint:ts

docs(evo-chip): minor fixes
  src/stories/components/evo-chip.stories.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  c3d96818e55269589bf6b21412094fada72a90ff
Due: none

chore(project): version up 5.20.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(sidebar): +dynamic component logic
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-footer/evo-sidebar-footer.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-footer/evo-sidebar-footer.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-footer/evo-sidebar-footer.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/public-api.ts
  projects/evo-ui-kit/src/lib/operators/enter-zone.operator.ts
  projects/evo-ui-kit/src/lib/operators/index.ts
  projects/evo-ui-kit/src/lib/operators/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts, yarn lint:styles

feat(sidebar): content parts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-content/evo-sidebar-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.scss
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.module.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.service.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/public-api.ts
  projects/evo-ui-kit/src/lib/styles/components/evo-sidebar-mixins.scss
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.html
  src/stories/components/evo-sidebar-wrapper/evo-sidebar-wrapper.component.ts
  src/stories/components/evo-sidebar.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(sidebar): parts inputs for static sidebar
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
Due: yarn lint:ts

test(sidebar): +few specs
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.html
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
Due: yarn lint:ts

test(sidebar): +few specs
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-footer/evo-sidebar-footer.component.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.ts
Due: yarn lint:ts

fix(sidebar): -css prefixes
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar-header/evo-sidebar-header.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  f3c03e427bf87e650403c5c242c84b62bd86c831
Due: none

chore(project): version up 5.21.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(table): add dynamic columns
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.html
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: yarn lint:ts

fix(git): ignore vscode files
  .gitignore
Due: none

feat(evo-table): add unit tests
  projects/evo-ui-kit/src/lib/components/evo-table/evo-table/evo-table.component.spec.ts
Due: yarn lint:ts

feat(stories): add dynamic columns demo
  src/stories/components/evo-table-dynamic-columns/evo-table-dynamic-columns.component.html
  src/stories/components/evo-table-dynamic-columns/evo-table-dynamic-columns.component.scss
  src/stories/components/evo-table-dynamic-columns/evo-table-dynamic-columns.component.ts
  src/stories/components/evo-table.stories.ts
Due: yarn lint:ts, yarn lint:styles

fix(app): remove dynamic columns demo from AppComponent
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: yarn lint:ts

fix(evo-banner): fix rxjs async internal import
  projects/evo-ui-kit/src/lib/components/evo-banner/evo-banner.component.ts
Due: yarn lint:ts

fix(evo-popover): fix rxjs async internal import
  projects/evo-ui-kit/src/lib/components/evo-popover/evo-popover.component.ts
Due: yarn lint:ts

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
