Repository evotor/Evo-UI-Kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:ts, yarn lint:styles

fix(package): fix imask versions
  package.json
  projects/evo-ui-kit/package.json
Due: none

Notes added by 'git notes add'
  07/e1456f34e6a60e77d49dcdb33ffbb069edb992
Due: none

chore(project): version up 5.23.2
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

docs(app): clean app component
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  yarn.lock
Due: yarn lint:ts, yarn lint:styles

feat(evo-icon-button): add evo-icon-button component
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.module.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/index.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-icon-button): eject evo-icon
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.ts
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.module.ts
Due: yarn lint:ts, yarn lint:styles

docs(evo-icon-button): stories
  src/stories/components/evo-icon-button.stories.ts
Due: yarn lint:ts

fix(evo-icon-button): fix code smell
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
Due: yarn lint:styles

fix(evo-icon-button): overriding icons with a spinner
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.html
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
  src/app/app.module.ts
Due: yarn lint:ts, yarn lint:styles

test(evo-icon-button): overriding icons with a spinner
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.spec.ts
Due: yarn lint:ts

Notes added by 'git notes add'
  6f/54b6f2188c62e7752c64993e0fcb8f3ebd7554
Due: none

chore(project): version up 5.24.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(icons): add more navigation icons
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Arrow-Left_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Arrow-Right_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Chevron-Left_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Chevron-Right_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Drop_Up_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Drop_down_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Expand-Less_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Expand-More_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Fold.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Fold_Horizontal.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Low_Priority.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Minus_Outlined.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/More_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Plus_Outlined.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Sorting_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Subdirectory_Left_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Subdirectory_Right_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Unfold_Horizontal.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Unfold_Less_24px.svg
  projects/evo-ui-kit/src/lib/icons-src/Navigation/Unfold_More_24px.svg
Due: none

Notes added by 'git notes add'
  77/06949662d1fdbf775b9be4cbe3b14e2b18ddaa
Due: none

chore(project): version up 5.25.0
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

fix(evo-icon-button): reset host button styles
  projects/evo-ui-kit/src/lib/components/evo-icon-button/evo-icon-button.component.scss
Due: yarn lint:styles

Notes added by 'git notes add'
  5f/650e08a2031b44512dd9d2b20ac06e4c41dfd1
Due: none

chore(project): version up 5.25.1
  projects/evo-ui-kit/CHANGELOG.md
  projects/evo-ui-kit/package.json
Due: none

feat(package): add color-icons support (wip)
  .gitignore
  projects/evo-ui-kit/src/lib/components/evo-chip/evo-chip.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-modal/evo-modal.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-sidebar/evo-sidebar.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-toast/evo-toast.component.spec.ts
  scripts/gulp-icons-build.js
Due: yarn lint:ts

feat(package): copy generated assets
  gulpfile.js
Due: none

fix(package): fix icons path
  src/stories/components/evo-modal.stories.ts
Due: yarn lint:ts

fix(input): mask & prefix errors
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

fix(input): types extension for mask
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

fix(input): +unmask prop, normalize mask value
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

test(input): a few specs added
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
Due: yarn lint:ts

fix(input): value normalization
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

feat(input): unmask 'typed'
  projects/evo-ui-kit/src/lib/components/evo-input/evo-input.component.ts
Due: yarn lint:ts

chore(evo-accordion): create empty component and module
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.spec.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.module.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/index.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts, yarn lint:styles

chore(evo-if-expanded): create empty directive
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.ts
  projects/evo-ui-kit/src/lib/directives/public-api.ts
  projects/evo-ui-kit/src/lib/evo-ui-kit.module.ts
Due: yarn lint:ts

chore(evo-accordion): create empty stories
  src/stories/components/evo-accordion.stories.ts
Due: yarn lint:ts

chore(evo-accordion): create panel and title component
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-panel/evo-accordion-panel.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-title/evo-accordion-title.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion.module.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/public-api.ts
Due: yarn lint:ts, yarn lint:styles

feat(evo-if-expanded): structural directive for expand processing
  projects/evo-ui-kit/src/lib/directives/evo-if-expanded.directive.ts
Due: yarn lint:ts

feat(evo-if-expanded): component store service of expanded state
  projects/evo-ui-kit/src/lib/services/evo-if-expanded.service.ts
  projects/evo-ui-kit/src/lib/services/index.ts
  projects/evo-ui-kit/src/lib/services/public-api.ts
  projects/evo-ui-kit/src/public_api.ts
Due: yarn lint:ts

chore(evo-accordion-content): create empty component
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.html
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.scss
  projects/evo-ui-kit/src/lib/components/evo-accordion/evo-accordion-content/evo-accordion-content.component.ts
  projects/evo-ui-kit/src/lib/components/evo-accordion/public-api.ts
Due: yarn lint:ts, yarn lint:styles

Notes added by 'git notes add'
  0a/089d7ce57ae0e2cef50489452185a05171831e
Due: none

feat(icons): add more system icons
  projects/evo-ui-kit/src/lib/icons-src/System/Chat.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Check Square Outlined.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Clock Solid.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Delete Outlined.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Document.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Eye.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Feed.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Filter.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Folder Alert.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Folder Check.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Folder Few Check.svg
  projects/evo-ui-kit/src/lib/icons-src/System/History.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Info.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Mail.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Offline.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Online.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Phone.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Play Circle.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Power.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Refresh.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Research.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Send.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Smartphone.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Specify.svg
  projects/evo-ui-kit/src/lib/icons-src/System/USB.svg
  projects/evo-ui-kit/src/lib/icons-src/System/User Check.svg
  projects/evo-ui-kit/src/lib/icons-src/System/Work.svg
Due: none

Notes added by 'git notes add'
  3b/7dd2b36c853ddf336e6c47431794c9fe3d0cff
Due: none

Path conditions:
  yarn lint:ts: any of: *.ts
  yarn lint:styles: any of: *.scss
